<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>축구 여행 가이드</title>
    <link rel="stylesheet" href="/assets/css/topmenu.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
    <link rel="stylesheet" href="/assets/css/sidemenu.css">
    <link rel="stylesheet" href="/assets/css/box.css">
    <style>
        body{
            background-image: url(/assets/img/background4.jpg);
            background-size: contain;
        }
    </style>
</head>
<body>
<header class="top-bar con-min-width">
    <h1><span style="color:black">Soccer Tour Guide</span></h1>
    <div class="con">
        <nav class="top-bar__menu-box-1">
            <ul>
                <li>
                    <a href="http://localhost:8080/gjfood">맛집</a>
                </li>
                <li>
                    <a href="http://localhost:8080/gjtour">관광지</a>
                </li>
                <li>
                    <a href="http://localhost:8080/gjhome">숙소</a>
                </li>
                <li>
                    <a href="http://localhost:8080/gjcourse">코스추천</a>
                </li>
            </ul>
        </nav>
    </div>
</header>

<aside class="side-bar">
    <ul>
        <li>
            <a href="http://localhost:8080/Page">fc서울</a>
            <ul>
                <li><a href="http://localhost:8080/food">맛집</a></li>
                <li><a href="http://localhost:8080/SeoulTour">관광지</a></li>
                <li><a href="http://localhost:8080/SeoulHome">숙소</a></li>
                <li><a href="http://localhost:8080/SeoulCourse">코스추천</a></li>
            </ul>
        </li>
        <li>
            <a href="http://localhost:8080/kindex">김천상무</a>
            <ul>
                <li><a href="http://localhost:8080/kfood">맛집</a></li>
                <li><a href="http://localhost:8080/ktour">관광지</a></li>
                <li><a href="http://localhost:8080/khome">숙소</a></li>
                <li><a href="http://localhost:8080/kcourse">코스추천</a></li>
            </ul>
        </li>
        <li>
            <a href="http://localhost:8080/sindex">수원fc</a>
            <ul>
                <li><a href="http://localhost:8080/sfood">맛집</a></li>
                <li><a href="http://localhost:8080/stour">관광지</a></li>
                <li><a href="http://localhost:8080/shome">숙소</a></li>
                <li><a href="http://localhost:8080/scourse">코스추천</a></li>
            </ul>
        </li>
        <li>
            <a href="http://localhost:8080/iindex">인천유나이티드</a>
            <ul>
                <li><a href="http://localhost:8080/ifood">맛집</a></li>
                <li><a href="http://localhost:8080/itour">관광지</a></li>
                <li><a href="http://localhost:8080/ihome">숙소</a></li>
                <li><a href="http://localhost:8080/icourse">코스추천</a></li>
            </ul>
        </li>
        <li>
            <a href="http://localhost:8080/gindex">강원fc</a>
            <ul>
                <li><a href="http://localhost:8080/gfood">맛집</a></li>
                <li><a href="http://localhost:8080/gtour">관광지</a></li>
                <li><a href="http://localhost:8080/ghome">숙소</a></li>
                <li><a href="http://localhost:8080/gcourse">코스추천</a></li>
            </ul>
        </li>
        <li>
            <a href="http://localhost:8080/dindex">대전하나시티즌</a>
            <ul>
                <li><a href="http://localhost:8080/dfood">맛집</a></li>
                <li><a href="http://localhost:8080/dtour">관광지</a></li>
                <li><a href="http://localhost:8080/dhome">숙소</a></li>
                <li><a href="http://localhost:8080/dcourse">코스추천</a></li>
            </ul>
        </li>
        <li>
            <a href="http://localhost:8080/jindex">전북현대</a>
            <ul>
                <li><a href="http://localhost:8080/jfood">맛집</a></li>
                <li><a href="http://localhost:8080/jtour">관광지</a></li>
                <li><a href="http://localhost:8080/jhome">숙소</a></li>
                <li><a href="http://localhost:8080/jcourse">코스추천</a></li>
            </ul>
        </li>
        <li>
            <a href="http://localhost:8080/gjindex">광주fc</a>
            <ul>
                <li><a href="http://localhost:8080/gjfood">맛집</a></li>
                <li><a href="http://localhost:8080/gjtour">관광지</a></li>
                <li><a href="http://localhost:8080/gjhome">숙소</a></li>
                <li><a href="http://localhost:8080/gjcourse">코스추천</a></li>
            </ul>
        </li>
        <li>
            <a href="#">대구fc</a>
            <ul>
                <li><a href="#">맛집</a></li>
                <li><a href="#">관광지</a></li>
                <li><a href="#">숙소</a></li>
                <li><a href="#">코스추천</a></li>
            </ul>
        </li>
        <li>
            <a href="#">포항스틸러스</a>
            <ul>
                <li><a href="#">맛집</a></li>
                <li><a href="#">관광지</a></li>
                <li><a href="#">숙소</a></li>
                <li><a href="#">코스추천</a></li>
            </ul>
        </li>
        <li>
            <a href="#">울산현대</a>
            <ul>
                <li><a href="#">맛집</a></li>
                <li><a href="#">관광지</a></li>
                <li><a href="#">숙소</a></li>
                <li><a href="#">코스추천</a></li>
            </ul>
        </li>
        <li>
            <a href="#">제주유나이티드</a>
            <ul>
                <li><a href="#">맛집</a></li>
                <li><a href="#">관광지</a></li>
                <li><a href="#">숙소</a></li>
                <li><a href="#">코스추천</a></li>
            </ul>
        </li>
    </ul>
</aside>
</body>
</html>
<main class="contents">
    <section id="headling">
        <div class="detail" style="margin: 0 auto; text-align: center;">
            <img src="/assets/img/대구아쿠아리움.jpg" style="display: block; margin: 70px auto 70px auto; width: 1050px; height: 400px; margin-left: auto; margin-right: auto">
            <div class>

                <p>대구아쿠아리움은 대구신세계 백화점 9층에 있는 아쿠아리움. 대구, 경북 지역 내에서는 유일하게 KAZA 회원인 아쿠아리움이다. 대구광역시 최초의 아쿠아</p>
                <p>리움으로, 2,000톤 규모의 수조에 200여 종의 해양생물 등이 살고 있다. 대구 신세계 백화점 자체가 동대구역, 동대구터미널이 있는 교통 요지다 보니 접근성</p>
                <p>이 엄청 높은 펀이다. 마스코트 동물은 서아프리카매너티와 로고에 그려진 훔볼트펭귄이며, 소형 육상 동물도 사육하는데 비율이 상대적으로 높다. 대구 아</p>
                <p>쿠아리움 내부에는 음식점이 없다. 이 때문에, 입장하기 전에 식사를 해결하거나 관람을 마치고 가야 하는 불편함이 있습니다. 휴관일은 대구신세계 휴관일</p>
                <p>과 동일하게 월 1회 월요일입니다.</p>


            </div>
            <img src="/assets/img/대구네이처파크.jpg" style="display: block; margin: 70px auto 70px auto; width: 1050px; height: 400px; margin-left: auto; margin-right: auto">
            <div class>

                <p>대구 네이처파크는 12만평 부지의 식물원 내 초대형 글라스하우스 동물원과 방사형 야외 동물원으로 구성되어 50여종, 300마리 이상의 동물. 350여종의</p>
                <p>수목, 100여종 이상의 다양한 꽃들이 공존하는 전국 최초 교감형 생태 동물원 입니다. 이곳은 실내와 야외 모두 동물들이 있고 무척 가깝게 볼 수 있다는</p>
                <p>장점이 있습니다. 네이처 마켓에서는 식사를 드실 수 있고 플레이 팡팡, 플레이 가든 등 여러 놀이 시설들도 준비되어 있습니다. 또한 풀제이드로 일반</p>
                <p>보트와 카약을 타실 수도 있습니다. 또한 플라워 페스티벌 기간에 가면 이쁜 꽃들과 포토존들을 즐기실 수도 있습니다.</p>

            </div>
            <img src="/assets/img/대구근대골목.jpg" style="display: block; margin: 70px auto 70px auto; width: 1050px; height: 400px; margin-left: auto; margin-right: auto">
            <div class>

                <p>대구 근대골목 투어는 대한민국 관광지 100선에 꼽힐만큼 유명한 관광지로 대구 관광에 큰 축을 이루고 있습니다. 총 5개의 길로 이루어져 있으며 각각 다른</p>
                <p>테마를 가지고 있는데요. 1코스는 달구벌의 기원과 조선시대 행정중심도시의 면모, 근대 상업발전의 근간 등 흘러간 시대의 변천사를 볼 수 있고 2코스는</p>
                <p>다양한 볼거리가 있는 건축물, 민족운동가 고택등 근대문화를 체험할 수 있고 3코스는 패션, 쇼핑, 한방 거리를 체험할 수 있으며 4코스는 문화와 삶이 살아</p>
                <p>숨쉬는 삼덕봉산문화길이고 마지막 5코스는 반월당에서 출발하여 보현사, 관덕정순교기념관, 남산교회, 상덕사, 성모당 등 종교 문화를 볼 수 있습니다.</p>
            </div>
        </div>
    </section>
</main>