<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>축구 여행 가이드</title>
    <link rel="stylesheet" href="/assets/css/topmenu.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
    <link rel="stylesheet" href="/assets/css/sidemenu.css">
    <link rel="stylesheet" href="/assets/css/box2.css">
    <style>
        body{
            background-image: url(/assets/img/background4.jpg);
            background-size: contain;
        }
    </style>
</head>
<body>
<header class="top-bar con-min-width">
    <h1><span style="color:black">Soccer Tour Guide</span></h1>
    <div class="con">
        <nav class="top-bar__menu-box-1">
            <ul>
                <li>
                    <a href="http://localhost:8080/gjfood">맛집</a>
                </li>
                <li>
                    <a href="http://localhost:8080/gjtour">관광지</a>
                </li>
                <li>
                    <a href="http://localhost:8080/gjhome">숙소</a>
                </li>
                <li>
                    <a href="http://localhost:8080/gjcourse">코스추천</a>
                </li>
            </ul>
        </nav>
    </div>
</header>

<aside class="side-bar">
    <ul>
        <li>
            <a href="http://localhost:8080/Page">fc서울</a>
            <ul>
                <li><a href="http://localhost:8080/food">맛집</a></li>
                <li><a href="http://localhost:8080/SeoulTour">관광지</a></li>
                <li><a href="http://localhost:8080/SeoulHome">숙소</a></li>
                <li><a href="http://localhost:8080/SeoulCourse">코스추천</a></li>
            </ul>
        </li>
        <li>
            <a href="http://localhost:8080/kindex">김천상무</a>
            <ul>
                <li><a href="http://localhost:8080/kfood">맛집</a></li>
                <li><a href="http://localhost:8080/ktour">관광지</a></li>
                <li><a href="http://localhost:8080/khome">숙소</a></li>
                <li><a href="http://localhost:8080/kcourse">코스추천</a></li>
            </ul>
        </li>
        <li>
            <a href="http://localhost:8080/sindex">수원fc</a>
            <ul>
                <li><a href="http://localhost:8080/sfood">맛집</a></li>
                <li><a href="http://localhost:8080/stour">관광지</a></li>
                <li><a href="http://localhost:8080/shome">숙소</a></li>
                <li><a href="http://localhost:8080/scourse">코스추천</a></li>
            </ul>
        </li>
        <li>
            <a href="http://localhost:8080/iindex">인천유나이티드</a>
            <ul>
                <li><a href="http://localhost:8080/ifood">맛집</a></li>
                <li><a href="http://localhost:8080/itour">관광지</a></li>
                <li><a href="http://localhost:8080/ihome">숙소</a></li>
                <li><a href="http://localhost:8080/icourse">코스추천</a></li>
            </ul>
        </li>
        <li>
            <a href="http://localhost:8080/gindex">강원fc</a>
            <ul>
                <li><a href="http://localhost:8080/gfood">맛집</a></li>
                <li><a href="http://localhost:8080/gtour">관광지</a></li>
                <li><a href="http://localhost:8080/ghome">숙소</a></li>
                <li><a href="http://localhost:8080/gcourse">코스추천</a></li>
            </ul>
        </li>
        <li>
            <a href="http://localhost:8080/dindex">대전하나시티즌</a>
            <ul>
                <li><a href="http://localhost:8080/dfood">맛집</a></li>
                <li><a href="http://localhost:8080/dtour">관광지</a></li>
                <li><a href="http://localhost:8080/dhome">숙소</a></li>
                <li><a href="http://localhost:8080/dcourse">코스추천</a></li>
            </ul>
        </li>
        <li>
            <a href="http://localhost:8080/jindex">전북현대</a>
            <ul>
                <li><a href="http://localhost:8080/jfood">맛집</a></li>
                <li><a href="http://localhost:8080/jtour">관광지</a></li>
                <li><a href="http://localhost:8080/jhome">숙소</a></li>
                <li><a href="http://localhost:8080/jcourse">코스추천</a></li>
            </ul>
        </li>
        <li>
            <a href="http://localhost:8080/gjindex">광주fc</a>
            <ul>
                <li><a href="http://localhost:8080/gjfood">맛집</a></li>
                <li><a href="http://localhost:8080/gjtour">관광지</a></li>
                <li><a href="http://localhost:8080/gjhome">숙소</a></li>
                <li><a href="http://localhost:8080/gjcourse">코스추천</a></li>
            </ul>
        </li>
        <li>
            <a href="#">대구fc</a>
            <ul>
                <li><a href="#">맛집</a></li>
                <li><a href="#">관광지</a></li>
                <li><a href="#">숙소</a></li>
                <li><a href="#">코스추천</a></li>
            </ul>
        </li>
        <li>
            <a href="#">포항스틸러스</a>
            <ul>
                <li><a href="#">맛집</a></li>
                <li><a href="#">관광지</a></li>
                <li><a href="#">숙소</a></li>
                <li><a href="#">코스추천</a></li>
            </ul>
        </li>
        <li>
            <a href="#">울산현대</a>
            <ul>
                <li><a href="#">맛집</a></li>
                <li><a href="#">관광지</a></li>
                <li><a href="#">숙소</a></li>
                <li><a href="#">코스추천</a></li>
            </ul>
        </li>
        <li>
            <a href="#">제주유나이티드</a>
            <ul>
                <li><a href="#">맛집</a></li>
                <li><a href="#">관광지</a></li>
                <li><a href="#">숙소</a></li>
                <li><a href="#">코스추천</a></li>
            </ul>
        </li>
    </ul>
</aside>
</body>
</html>
<body>
<div class="container">
    <div class="box box-1"><img src="/assets/img/hotel25.jpg"></div>
    <div class="box box-2">
        <span class="box-content">
            <p><b>대구 메리어트 호텔</b></p>
            <p><b>* * * *</b></p>
            <p><b>대구 동구 동부로 26길 6</b></p>
            <p><b>대구 최초의 메리어트 인터내셔널 5성급 호텔로서 비즈니스 고객들께 적합한 서비스를 제공합니다.</b></p>
            <p><b>동대구역 2번 출구까지 도보로 약 10분이면 이동 가능하며 주변 관광지인 아쿠아리움과 신세계</b></p>
            <p><b>백화점은 도보로 약 5분이면 갈 수 있습니다. 최첨단 시설과 피트니스, 미팅룸까지 갖추고 있습니다.</b></p>
            <p><b>Wifi 무료</b></p>
        </span>
    </div>
    <div class="box box-3"><b><p>250,000원</p></b></div>
</div>

<div class="container">
    <div class="box box-1"><img src="/assets/img/hotel26.jpg"></div>
    <div class="box box-2">
        <span class="box-content">
            <p>호텔 수성</b></p>
            <p><b>* * * *</b></p>
            <p><b>대구 수성구 용학로 106-7</b></p>
             <p><b>대구 수성못역에서 도보로 약 15분 거리에 있으며 KTX 동대구역은 차로 약 20분 거리에 있습니다.</b></p>
             <p><b>주변 명소인 수성못이 도보로 5분이면 갈 수 있으며 약 3000평의 대규모 허브정원인 힐크레스트는</b></p>
             <p><b>차로 10분이며 호텔에 실내 온천이 있으며 사우나, 피트니스센터 등 다양한 즐길 거리가 있습니다.</b></p>
            <p><b>Wifi 무료</b></p>
        </span>
    </div>
    <div class="box box-3"><b><p>151,759원</p></b></div>
</div>

<div class="container">
    <div class="box box-1"><img src="/assets/img/hotel27.jpg"></div>
    <div class="box box-2">
        <span class="box-content">
            <p><b>호텔 인터불고 대구</b></p>
            <p><b>* * * * *</b></p>
            <p><b>대구 수성구 팔현길 212</b></p>
            <p><b>동대구복합환승센터에서 차로 약 10분 거리이며 대구 국제공항에서 약 15분 거리에 있습니다. 주변</b></p>
            <p><b>명소인 수성패밀리 파크는 차로 약 3분, 금호강 생태공원은 차로 약 5분이며 대구스타디움은 차로</b></p>
            <p><b>약 10분 걸립니다. 호텔에는 수영장, 스크린 골프, 노래방, 피트니스 센터 등 즐길 거리가 있습니다.</b></p>
            <p><b>Wifi 무료</b></p>
        </span>
    </div>
    <div class="box box-3"><b><p>115,702원</p></b></div>
</div>
</body>