<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>축구 여행 가이드</title>
    <link rel="stylesheet" href="/assets/css/topmenu.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
    <link rel="stylesheet" href="/assets/css/sidemenu.css">
    <link rel="stylesheet" href="/assets/css/box.css">
    <style>
        body{
            background-image: url(/assets/img/background4.jpg);
            background-size: contain;
        }
    </style>
</head>
<body>
<header class="top-bar con-min-width">
    <h1><span style="color:black">Soccer Tour Guide</span></h1>
    <div class="con">
        <nav class="top-bar__menu-box-1">
            <ul>
                <li>
                    <a href="http://localhost:8080/dfood">맛집</a>
                </li>
                <li>
                    <a href="http://localhost:8080/">관광지</a>
                </li>
                <li>
                    <a href="http://localhost:8080/">숙소</a>
                </li>
                <li>
                    <a href="http://localhost:8080/">코스추천</a>
                </li>
            </ul>
        </nav>
    </div>
</header>

<aside class="side-bar">
    <ul>
        <li>
            <a href="http://localhost:8080/Page">fc서울</a>
            <ul>
                <li><a href="http://localhost:8080/food">맛집</a></li>
                <li><a href="http://localhost:8080/SeoulTour">관광지</a></li>
                <li><a href="http://localhost:8080/SeoulHome">숙소</a></li>
                <li><a href="http://localhost:8080/SeoulCourse">코스추천</a></li>
            </ul>
        </li>
        <li>
            <a href="http://localhost:8080/kindex">김천상무</a>
            <ul>
                <li><a href="http://localhost:8080/kfood">맛집</a></li>
                <li><a href="http://localhost:8080/ktour">관광지</a></li>
                <li><a href="http://localhost:8080/khome">숙소</a></li>
                <li><a href="http://localhost:8080/kcourse">코스추천</a></li>
            </ul>
        </li>
        <li>
            <a href="http://localhost:8080/sindex">수원fc</a>
            <ul>
                <li><a href="http://localhost:8080/sfood">맛집</a></li>
                <li><a href="http://localhost:8080/stour">관광지</a></li>
                <li><a href="http://localhost:8080/shome">숙소</a></li>
                <li><a href="http://localhost:8080/scourse">코스추천</a></li>
            </ul>
        </li>
        <li>
            <a href="http://localhost:8080/iindex">인천유나이티드</a>
            <ul>
                <li><a href="http://localhost:8080/ifood">맛집</a></li>
                <li><a href="http://localhost:8080/itour">관광지</a></li>
                <li><a href="http://localhost:8080/ihome">숙소</a></li>
                <li><a href="http://localhost:8080/icourse">코스추천</a></li>
            </ul>
        </li>
        <li>
            <a href="http://localhost:8080/gindex">강원fc</a>
            <ul>
                <li><a href="http://localhost:8080/gfood">맛집</a></li>
                <li><a href="http://localhost:8080/gtour">관광지</a></li>
                <li><a href="http://localhost:8080/ghome">숙소</a></li>
                <li><a href="http://localhost:8080/gcourse">코스추천</a></li>
            </ul>
        </li>
        <li>
            <a href="http://localhost:8080/dindex">대전하나시티즌</a>
            <ul>
                <li><a href="http://localhost:8080/dfood">맛집</a></li>
                <li><a href="http://localhost:8080/dtour">관광지</a></li>
                <li><a href="http://localhost:8080/dhome">숙소</a></li>
                <li><a href="http://localhost:8080/dcourse">코스추천</a></li>
            </ul>
        </li>
        <li>
            <a href="#">전북현대</a>
            <ul>
                <li><a href="#">맛집</a></li>
                <li><a href="#">관광지</a></li>
                <li><a href="#">숙소</a></li>
                <li><a href="#">코스추천</a></li>
            </ul>
        </li>
        <li>
            <a href="#">광주fc</a>
            <ul>
                <li><a href="#">맛집</a></li>
                <li><a href="#">관광지</a></li>
                <li><a href="#">숙소</a></li>
                <li><a href="#">코스추천</a></li>
            </ul>
        </li>
        <li>
            <a href="#">대구fc</a>
            <ul>
                <li><a href="#">맛집</a></li>
                <li><a href="#">관광지</a></li>
                <li><a href="#">숙소</a></li>
                <li><a href="#">코스추천</a></li>
            </ul>
        </li>
        <li>
            <a href="#">포항스틸러스</a>
            <ul>
                <li><a href="#">맛집</a></li>
                <li><a href="#">관광지</a></li>
                <li><a href="#">숙소</a></li>
                <li><a href="#">코스추천</a></li>
            </ul>
        </li>
        <li>
            <a href="#">울산현대</a>
            <ul>
                <li><a href="#">맛집</a></li>
                <li><a href="#">관광지</a></li>
                <li><a href="#">숙소</a></li>
                <li><a href="#">코스추천</a></li>
            </ul>
        </li>
        <li>
            <a href="#">제주유나이티드</a>
            <ul>
                <li><a href="#">맛집</a></li>
                <li><a href="#">관광지</a></li>
                <li><a href="#">숙소</a></li>
                <li><a href="#">코스추천</a></li>
            </ul>
        </li>
    </ul>
</aside>
</body>
</html>
<main class="contents">
    <section id="headling">
        <div class="detail" style="margin: 0 auto; text-align: center;">
            <img src="/assets/img/한밭수목원.jpg" style="display: block; margin: 70px auto 70px auto; width: 1050px; height: 400px; margin-left: auto; margin-right: auto">
            <div class>

                <p>대전의 최대 도심지 둔산에 자리하고 있으면서 우성이산, 갑천과 유등천, 정부대전청사 녹지 축에 연계된 전국 최대의 도심 속 수목원이다. 식물 종(種)뿐만</p>
                <p>아니라 생물 서식공간으로서의 생태환경과 경관이 좋고 예술의 전당·미술관·연정국악원 등 문화예술이 어우러진 시민의 문화·휴식공간으로 사랑받고 있다.</p>
                <p>또한, 자연환경의 중요성과 가치를 알리는 체험 중심의 다양한 산림환경교육 프로그램을 개발 운영하여 숲과 자연을 사랑하는 건전한 시민정신 함양을 위해</p>
                <p>노력하고 있다. 하절기 기준 이용 시간은 05:00~21:00이며 입장료는 뮤료이다.</p>


            </div>
            <img src="/assets/img/대전엑스포아쿠아리움.jpg" style="display: block; margin: 70px auto 70px auto; width: 1050px; height: 400px; margin-left: auto; margin-right: auto">
            <div class>

                <p>국내 최초 진행되는 미디어아트와 살아 있는 생물의 콜라보인 엑스포 아쿠아리움에서는 살아 있는 생물뿐 만 아니라 미디어아트를 통해 다양한 바다생물과</p>
                <p>콘텐츠를 즐길 수 있는 복합문화 공간입니다. 이곳 엑스포 아쿠아리움에서는 각종 공연 프로그램과 체험할 수 있는 5d 영화관이 준비되어 있고 다양한 해양</p>
                <p>생물들과 큰 규모의 아쿠아리움으로 자유롭게 움직이는 물고기들을 관람하시기 매우 좋습니다. 또한 "아쿠아 엑스보트"라는 체험할 수 있는데 메인 수조를</p>
                <p>투명 카약을타고 직접 볼 수 있는 체험도 준비되어 있습니다. 시간은 10:30~19:00로 운영되며 요금은 대인기준 29,000입니다.</p>

            </div>
            <img src="/assets/img/대전시민천문대.jpg" style="display: block; margin: 70px auto 70px auto; width: 1050px; height: 400px; margin-left: auto; margin-right: auto">
            <div class>

                <p>대전광역시가 건립하여 2001년 5월 3일 개관한 시민천문대이다. 시민천문대란 천문학자들이 연구 목적으로 사용하는 천문대와는 달리 일반인이 자유롭게</p>
                <p>별을 볼 수 있는 곳으로 주로 지방자치단체에서 건립하는 천문대를 말하는데, 대전시민천문대는 국내에서 최초로 세워진 시민천문대이다. 관람할 곳으로는</p>
                <p>주관측실, 보조관측실, 천체투영관, 전시실 등이 있으며 관람료는 무료로 되어 있습니다. 또한 각종 게임을 비롯한 체험으로 천문지식 퀴즈나 직접 망원경을</p>
                <p>들여다 보는 등 아이가 좋아할 만한 게임 등의 놀거리가 많아서 아이들도 재밌게 시간을 보낼 수 있습니다. 각 전시실마다 정해진 시간에만 구경이 가능하니</p>
                <p>방문하기 전에 미리 시간을 확인해 오는 것을 추천드립니다.</p>
            </div>
        </div>
    </section>
</main>