<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>축구 여행 가이드</title>
    <link rel="stylesheet" href="/assets/css/topmenu.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
    <link rel="stylesheet" href="/assets/css/sidemenu.css">
    <link rel="stylesheet" href="/assets/css/box.css">
    <style>
        body{
            background-image: url(/assets/img/background4.jpg);
            background-size: contain;
        }
    </style>
</head>
<body>
<header class="top-bar con-min-width">
    <h1><span style="color:black">Soccer Tour Guide</span></h1>
    <div class="con">
        <nav class="top-bar__menu-box-1">
            <ul>
                <li>
                    <a href="http://localhost:8080/">맛집</a>
                </li>
                <li>
                    <a href="http://localhost:8080/">관광지</a>
                </li>
                <li>
                    <a href="http://localhost:8080/">숙소</a>
                </li>
                <li>
                    <a href="http://localhost:8080/">코스추천</a>
                </li>
            </ul>
        </nav>
    </div>
</header>

<aside class="side-bar">
    <ul>
        <li>
            <a href="http://localhost:8080/Page">fc서울</a>
            <ul>
                <li><a href="http://localhost:8080/food">맛집</a></li>
                <li><a href="http://localhost:8080/SeoulTour">관광지</a></li>
                <li><a href="http://localhost:8080/SeoulHome">숙소</a></li>
                <li><a href="http://localhost:8080/SeoulCourse">코스추천</a></li>
            </ul>
        </li>
        <li>
            <a href="http://localhost:8080/kindex">김천상무</a>
            <ul>
                <li><a href="http://localhost:8080/kfood">맛집</a></li>
                <li><a href="http://localhost:8080/ktour">관광지</a></li>
                <li><a href="http://localhost:8080/khome">숙소</a></li>
                <li><a href="http://localhost:8080/kcourse">코스추천</a></li>
            </ul>
        </li>
        <li>
            <a href="http://localhost:8080/sindex">수원fc</a>
            <ul>
                <li><a href="http://localhost:8080/sfood">맛집</a></li>
                <li><a href="http://localhost:8080/stour">관광지</a></li>
                <li><a href="http://localhost:8080/shome">숙소</a></li>
                <li><a href="http://localhost:8080/scourse">코스추천</a></li>
            </ul>
        </li>
        <li>
            <a href="#">인천유나이티드</a>
            <ul>
                <li><a href="http://localhost:8080/ifood">맛집</a></li>
                <li><a href="http://localhost:8080/itour">관광지</a></li>
                <li><a href="http://localhost:8080/ihome">숙소</a></li>
                <li><a href="http://localhost:8080/icourse">코스추천</a></li>
            </ul>
        </li>
        <li>
            <a href="#">강원fc</a>
            <ul>
                <li><a href="http://localhost:8080/gfood">맛집</a></li>
                <li><a href="#">관광지</a></li>
                <li><a href="#">숙소</a></li>
                <li><a href="#">코스추천</a></li>
            </ul>
        </li>
        <li>
            <a href="#">대전하나시티즌</a>
            <ul>
                <li><a href="#">맛집</a></li>
                <li><a href="#">관광지</a></li>
                <li><a href="#">숙소</a></li>
                <li><a href="#">코스추천</a></li>
            </ul>
        </li>
        <li>
            <a href="#">전북현대</a>
            <ul>
                <li><a href="#">맛집</a></li>
                <li><a href="#">관광지</a></li>
                <li><a href="#">숙소</a></li>
                <li><a href="#">코스추천</a></li>
            </ul>
        </li>
        <li>
            <a href="#">광주fc</a>
            <ul>
                <li><a href="#">맛집</a></li>
                <li><a href="#">관광지</a></li>
                <li><a href="#">숙소</a></li>
                <li><a href="#">코스추천</a></li>
            </ul>
        </li>
        <li>
            <a href="#">대구fc</a>
            <ul>
                <li><a href="#">맛집</a></li>
                <li><a href="#">관광지</a></li>
                <li><a href="#">숙소</a></li>
                <li><a href="#">코스추천</a></li>
            </ul>
        </li>
        <li>
            <a href="#">포항스틸러스</a>
            <ul>
                <li><a href="#">맛집</a></li>
                <li><a href="#">관광지</a></li>
                <li><a href="#">숙소</a></li>
                <li><a href="#">코스추천</a></li>
            </ul>
        </li>
        <li>
            <a href="#">울산현대</a>
            <ul>
                <li><a href="#">맛집</a></li>
                <li><a href="#">관광지</a></li>
                <li><a href="#">숙소</a></li>
                <li><a href="#">코스추천</a></li>
            </ul>
        </li>
        <li>
            <a href="#">제주유나이티드</a>
            <ul>
                <li><a href="#">맛집</a></li>
                <li><a href="#">관광지</a></li>
                <li><a href="#">숙소</a></li>
                <li><a href="#">코스추천</a></li>
            </ul>
        </li>
    </ul>
</aside>
</body>
</html>
<main class="contents">
    <section id="headling">
        <div class="detail" style="margin: 0 auto; text-align: center;">
            <img src="/assets/img/강릉커피거리.jpg" style="display: block; margin: 70px auto 70px auto; width: 1050px; height: 400px; margin-left: auto; margin-right: auto">
            <div class>

                <p>예전에 강릉커피거리는 단순하게 자판기 커피가 많았던 곳 입니다. 다만, 많은 택시기사님들과 안목해변에 놀러온 사람들 혹은 서울 당일치기바다 여행에서</p>
                <p>잠시 휴식을 얻으러 온 사람들이 강릉커피거리의 맛을 기억하게 되면서 관광특구로 지정되었다고 합니다. 주차는 강릉 카페거리에 주차하거나 강릉항 공영</p>
                <p>주차장에 주차를 하시면 됩니다. 해변 앞에 있어 많은 오션뷰의 카페들이 있고 유명 브랜드 카페부터 개인이 운영하는 카페까지 대부분 카페들의 규모 또한</p>
                <p>>큰 편입니다. 커피 마시러 들어가기전 간단한 해변 산책을 하고 방문하는 것도 좋습니다. 주말에 경우 사람이 많으나 평일은 다소 한적한 편입니다.</p>


            </div>
            <img src="/assets/img/경포대.jpg" style="display: block; margin: 70px auto 70px auto; width: 1050px; height: 400px; margin-left: auto; margin-right: auto">
            <div class>

                <p>강릉 경포대는 강릉을 대표하는 명승지 중 하나로 국가지정문화재 보물 제2046호로 지정되어 있다. 고려시대의 문화를 보여주고 있는 관동팔경의 하나이며,</p>
                <p>경포 호수 북쪽 언덕에 있는 누각이다. 고려 충숙왕 13년에 창건한 후 한차례 이건과 수차례 중수 기록이 대부분 자세히 남아있으며, 특히 창건 이전의 기록도</p>
                <p>남아있어 시대별 변화과정을 구체적으로 확인할 수 있는 정자이다. 경포대 내부에는 숙종의 직접 지은 ‘어제시’와 율곡 이이가 10세에 지었다는 ‘경포대부’를</p>
                <p>비롯해 조하망의 상량문 등 수많은 명사와 시인 묵객의 글이 게시되어 있다. 입장료는 무료이며 연중무휴로 운영된다.</p>

            </div>
            <img src="/assets/img/강릉시립박물관.jpg" style="display: block; margin: 70px auto 70px auto; width: 1050px; height: 400px; margin-left: auto; margin-right: auto">
            <div class>

                <p>강릉시립박물관은 오죽헌 내에 위치해 있어서 함께 둘러보면 좋다. 오죽헌 내에는 율곡기념관과 오죽헌시립박물관, 강릉시립박물관 등의 시설이 있다.</p>
                <p>입장 요금은 무료로 운영되고 있으며 사회교육과 시민의 정서함양에도 기여하기 위한 목적도 있다고 한다. 관광객들에게는 강릉의 역사와 문화를 파악하는</p>
                <p>데도 도움이 된다. 강릉의 역사와 문화를 보여주는 유물과 자료를 전시하고 다양한 사회 교육 프로그램도 운영한는 문화의 공간으로서의 역할도 하고 있다.</p>
                <p>전시관은 역사문화관과 오죽헌, 향토민소관, 문성사, 율곡기념관, 야외전시장이 있고 대관령 박물관으로 구분되어 있다. 이곳 강릉 박물관의 규모는 연건평</p>
                <p>3,849제곱미터로 약 6,000여점의 유물을 소장하고 있다.</p>
            </div>
        </div>
    </section>
</main>