<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>축구 여행 가이드</title>
    <link rel="stylesheet" href="/assets/css/topmenu.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
    <link rel="stylesheet" href="/assets/css/sidemenu.css">
    <link rel="stylesheet" href="/assets/css/box.css">
    <style>
        body{
            background-image: url(/assets/img/background4.jpg);
            background-size: contain;
        }
    </style>
</head>
<body>
<header class="top-bar con-min-width">
    <h1><span style="color:black">Soccer Tour Guide</span></h1>
    <div class="con">
        <nav class="top-bar__menu-box-1">
            <ul>
                <li>
                    <a href="http://localhost:8080/ifood">맛집</a>
                </li>
                <li>
                    <a href="http://localhost:8080/itour">관광지</a>
                </li>
                <li>
                    <a href="http://localhost:8080/ihome">숙소</a>
                </li>
                <li>
                    <a href="http://localhost:8080/icourse">코스추천</a>
                </li>
            </ul>
        </nav>
    </div>
</header>

<aside class="side-bar">
    <ul>
        <li>
            <a href="http://localhost:8080/Page">fc서울</a>
            <ul>
                <li><a href="http://localhost:8080/food">맛집</a></li>
                <li><a href="http://localhost:8080/SeoulTour">관광지</a></li>
                <li><a href="http://localhost:8080/SeoulHome">숙소</a></li>
                <li><a href="http://localhost:8080/SeoulCourse">코스추천</a></li>
            </ul>
        </li>
        <li>
            <a href="http://localhost:8080/kindex">김천상무</a>
            <ul>
                <li><a href="http://localhost:8080/kfood">맛집</a></li>
                <li><a href="http://localhost:8080/ktour">관광지</a></li>
                <li><a href="http://localhost:8080/khome">숙소</a></li>
                <li><a href="http://localhost:8080/kcourse">코스추천</a></li>
            </ul>
        </li>
        <li>
            <a href="http://localhost:8080/sindex">수원fc</a>
            <ul>
                <li><a href="http://localhost:8080/sfood">맛집</a></li>
                <li><a href="http://localhost:8080/stour">관광지</a></li>
                <li><a href="http://localhost:8080/shome">숙소</a></li>
                <li><a href="http://localhost:8080/scourse">코스추천</a></li>
            </ul>
        </li>
        <li>
            <a href="http://localhost:8080/iindex">인천유나이티드</a>
            <ul>
                <li><a href="http://localhost:8080/ifood">맛집</a></li>
                <li><a href="http://localhost:8080/itour">관광지</a></li>
                <li><a href="http://localhost:8080/ihome">숙소</a></li>
                <li><a href="http://localhost:8080/icourse">코스추천</a></li>
            </ul>
        </li>
        <li>
            <a href="http://localhost:8080/gindex">강원fc</a>
            <ul>
                <li><a href="http://localhost:8080/gfood">맛집</a></li>
                <li><a href="http://localhost:8080/gtour">관광지</a></li>
                <li><a href="http://localhost:8080/ghome">숙소</a></li>
                <li><a href="http://localhost:8080/gcourse">코스추천</a></li>
            </ul>
        </li>
        <li>
            <a href="http://localhost:8080/dindex">대전하나시티즌</a>
            <ul>
                <li><a href="http://localhost:8080/dfood">맛집</a></li>
                <li><a href="http://localhost:8080/dtour">관광지</a></li>
                <li><a href="http://localhost:8080/dhome">숙소</a></li>
                <li><a href="http://localhost:8080/dcourse">코스추천</a></li>
            </ul>
        </li>
        <li>
            <a href="#">전북현대</a>
            <ul>
                <li><a href="#">맛집</a></li>
                <li><a href="#">관광지</a></li>
                <li><a href="#">숙소</a></li>
                <li><a href="#">코스추천</a></li>
            </ul>
        </li>
        <li>
            <a href="#">광주fc</a>
            <ul>
                <li><a href="#">맛집</a></li>
                <li><a href="#">관광지</a></li>
                <li><a href="#">숙소</a></li>
                <li><a href="#">코스추천</a></li>
            </ul>
        </li>
        <li>
            <a href="#">대구fc</a>
            <ul>
                <li><a href="#">맛집</a></li>
                <li><a href="#">관광지</a></li>
                <li><a href="#">숙소</a></li>
                <li><a href="#">코스추천</a></li>
            </ul>
        </li>
        <li>
            <a href="#">포항스틸러스</a>
            <ul>
                <li><a href="#">맛집</a></li>
                <li><a href="#">관광지</a></li>
                <li><a href="#">숙소</a></li>
                <li><a href="#">코스추천</a></li>
            </ul>
        </li>
        <li>
            <a href="#">울산현대</a>
            <ul>
                <li><a href="#">맛집</a></li>
                <li><a href="#">관광지</a></li>
                <li><a href="#">숙소</a></li>
                <li><a href="#">코스추천</a></li>
            </ul>
        </li>
        <li>
            <a href="#">제주유나이티드</a>
            <ul>
                <li><a href="#">맛집</a></li>
                <li><a href="#">관광지</a></li>
                <li><a href="#">숙소</a></li>
                <li><a href="#">코스추천</a></li>
            </ul>
        </li>
    </ul>
</aside>
</body>
</html>
<main class="contents">
    <section id="headling">
        <div class="detail" style="margin: 0 auto; text-align: center;">
            <img src="/assets/img/인천센트럴파크.jpg" style="display: block; margin: 70px auto 70px auto; width: 1050px; height: 400px; margin-left: auto; margin-right: auto">
            <div class>

                <p>>인천광역시 연수구 송도동 도심 속에 위치한 경제자유구역 송도국제도시를 대표하는 공원이다. 고밀도 주거-상업구역이 밀집한 송도국제도시의 중앙에, 쉴</p>
                <p>수 있는 대형 녹지를 마련하는 것이 이 공원의 첫 목표였다. 공원 중심을 가로지르는 인공 호수는 해수를 끌어들여 사용하고 그 위로 수상택시 및 보트, 카약</p>
                <p>등을 이용할 수 있다. 송도 센트럴파크는 송도국제도시의 제 1공구에 위치한 공원으로 여의도 공원의 약 2배이다. 센트럴파크의 주요 시설로는 초지원, 선셋</p>
                <p>>정원, 감성정원, 테라스정원, 산책정원 등이 있다. 또 쉐라톤 호텔 앞에 입구로 들어서면 벚꽃길이 작게 있는데 이곳에서 벚꽃 구경 및 사진 촬영을 하기에도</p>
                <p>매우 좋습니다.</p>

            </div>
            <img src="/assets/img/수봉공원.jpg" style="display: block; margin: 70px auto 70px auto; width: 1050px; height: 400px; margin-left: auto; margin-right: auto">
            <div class>

                <p>인천광역시 미추홀구 수봉산에 조성된 공원으로 인천 시내가 한눈에 들어오는 우각정을 비롯하여 각종 업적과 역사를 전하는 비석들이 있어 휴식처와</p>
                <p>역사 교육장의 역할을 하고 있다. 주요 시설로는 크고 작은 공연을 감상할 수 있는 문화회관과, 민속공연이 열리는 전통민속놀이마당, 연중(상반기:6~7월,</p>
                <p>하반기:9~10월) 무형문화재 공연을 하는 은율탈춤 전수관 등이 있고 어린이놀이터와 궁도장 등 다양한 레저시설도 갖추어져 있어 운동을 위해 찾는 이들도</p>
                <p>많다. 그밖에 현충탑과 인천지구전적기념비, 재일학도의용군 참전기념비 등 호국정신을 기리는 기념비와 실향민이 제사를 드리는 망배단이 있습니다.</p>

            </div>
            <img src="/assets/img/인천자유공원.jpg" style="display: block; margin: 70px auto 70px auto; width: 1050px; height: 400px; margin-left: auto; margin-right: auto">
            <div class>

                <p>응봉산 전체를 자유공원이라 부르는데 조성연대는 서울의 파고다공원(1897)보다 몇 년 앞서는 것으로 되어 있습니다. 자유공원으로 이름이 바뀐 것은 인천</p>
                <p>상륙작전을 지휘한 맥아더 장군의 동상이 응봉산 정상에 세워진 1957년 10월 3일부터이다. 자유공원은 인천 시가지와 주위의 연산(連山)·항만·앞바다 등을</p>
                <p>한눈에 바라볼 수 있는 시민의 휴식·위락장소이며, 미술대회·글짓기대회 같은 각종 행사도 자주 열리고 있습니다. 벚꽃 시즌에는 이곳 역시 벚꽃이 예쁘게</p>
                <p>피어 있어서 많은 사람들이 재미난 조형물과 꽃을 감상하며 산책하는 모습을 볼 수 있습니다. 특히 이곳이 인천 벚꽃 명소 중에 추천되는 이유는 자유공원을</p>
                <p>따라서 산책하는 코스가 잘 만들어져 있고 이 산책 코스에 수십년의 수령을 가진 벚꽃 나무가 자라고 있어서 멋진 벚꽃길을 만들어 주기 때문입니다.</p>
            </div>
        </div>
    </section>
</main>