<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>축구 여행 가이드</title>
    <link rel="stylesheet" href="/assets/css/topmenu.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
    <link rel="stylesheet" href="/assets/css/sidemenu.css">
    <link rel="stylesheet" href="/assets/css/box2.css">
    <style>
        body{
            background-image: url(/assets/img/background4.jpg);
            background-size: contain;
        }
    </style>
</head>
<body>
<header class="top-bar con-min-width">
    <h1><span style="color:black">Soccer Tour Guide</span></h1>
    <div class="con">
        <nav class="top-bar__menu-box-1">
            <ul>
                <li>
                    <a href="http://localhost:8080/ifood">맛집</a>
                </li>
                <li>
                    <a href="http://localhost:8080/itour">관광지</a>
                </li>
                <li>
                    <a href="http://localhost:8080/ihome">숙소</a>
                </li>
                <li>
                    <a href="http://localhost:8080/icourse">코스추천</a>
                </li>
            </ul>
        </nav>
    </div>
</header>

<aside class="side-bar">
    <ul>
        <li>
            <a href="http://localhost:8080/Page">fc서울</a>
            <ul>
                <li><a href="http://localhost:8080/food">맛집</a></li>
                <li><a href="http://localhost:8080/SeoulTour">관광지</a></li>
                <li><a href="http://localhost:8080/SeoulHome">숙소</a></li>
                <li><a href="http://localhost:8080/SeoulCourse">코스추천</a></li>
            </ul>
        </li>
        <li>
            <a href="http://localhost:8080/kindex">김천상무</a>
            <ul>
                <li><a href="http://localhost:8080/kfood">맛집</a></li>
                <li><a href="http://localhost:8080/ktour">관광지</a></li>
                <li><a href="http://localhost:8080/khome">숙소</a></li>
                <li><a href="http://localhost:8080/kcourse">코스추천</a></li>
            </ul>
        </li>
        <li>
            <a href="http://localhost:8080/sindex">수원fc</a>
            <ul>
                <li><a href="http://localhost:8080/sfood">맛집</a></li>
                <li><a href="http://localhost:8080/stour">관광지</a></li>
                <li><a href="http://localhost:8080/shome">숙소</a></li>
                <li><a href="http://localhost:8080/scourse">코스추천</a></li>
            </ul>
        </li>
        <li>
            <a href="http://localhost:8080/iindex">인천유나이티드</a>
            <ul>
                <li><a href="http://localhost:8080/ifood">맛집</a></li>
                <li><a href="http://localhost:8080/itour">관광지</a></li>
                <li><a href="http://localhost:8080/ihome">숙소</a></li>
                <li><a href="http://localhost:8080/icourse">코스추천</a></li>
            </ul>
        </li>
        <li>
            <a href="http://localhost:8080/gindex">강원fc</a>
            <ul>
                <li><a href="http://localhost:8080/gfood">맛집</a></li>
                <li><a href="http://localhost:8080/gtour">관광지</a></li>
                <li><a href="http://localhost:8080/ghome">숙소</a></li>
                <li><a href="http://localhost:8080/gcourse">코스추천</a></li>
            </ul>
        </li>
        <li>
            <a href="http://localhost:8080/dindex">대전하나시티즌</a>
            <ul>
                <li><a href="http://localhost:8080/dfood">맛집</a></li>
                <li><a href="http://localhost:8080/dtour">관광지</a></li>
                <li><a href="http://localhost:8080/dhome">숙소</a></li>
                <li><a href="http://localhost:8080/dcourse">코스추천</a></li>
            </ul>
        </li>
        <li>
            <a href="http://localhost:8080/jindex">전북현대</a>
            <ul>
                <li><a href="http://localhost:8080/jfood">맛집</a></li>
                <li><a href="http://localhost:8080/jtour">관광지</a></li>
                <li><a href="http://localhost:8080/jhome">숙소</a></li>
                <li><a href="http://localhost:8080/jcourse">코스추천</a></li>
            </ul>
        </li>
        <li>
            <a href="http://localhost:8080/gjindex">광주fc</a>
            <ul>
                <li><a href="http://localhost:8080/gjfood">맛집</a></li>
                <li><a href="http://localhost:8080/gjtour">관광지</a></li>
                <li><a href="http://localhost:8080/gjhome">숙소</a></li>
                <li><a href="http://localhost:8080/gjcourse">코스추천</a></li>
            </ul>
        </li>
        <li>
            <a href="#">대구fc</a>
            <ul>
                <li><a href="#">맛집</a></li>
                <li><a href="#">관광지</a></li>
                <li><a href="#">숙소</a></li>
                <li><a href="#">코스추천</a></li>
            </ul>
        </li>
        <li>
            <a href="#">포항스틸러스</a>
            <ul>
                <li><a href="#">맛집</a></li>
                <li><a href="#">관광지</a></li>
                <li><a href="#">숙소</a></li>
                <li><a href="#">코스추천</a></li>
            </ul>
        </li>
        <li>
            <a href="#">울산현대</a>
            <ul>
                <li><a href="#">맛집</a></li>
                <li><a href="#">관광지</a></li>
                <li><a href="#">숙소</a></li>
                <li><a href="#">코스추천</a></li>
            </ul>
        </li>
        <li>
            <a href="#">제주유나이티드</a>
            <ul>
                <li><a href="#">맛집</a></li>
                <li><a href="#">관광지</a></li>
                <li><a href="#">숙소</a></li>
                <li><a href="#">코스추천</a></li>
            </ul>
        </li>
    </ul>
</aside>
</body>
</html>
<body>
<div class="container">
    <div class="box box-1"><img src="/assets/img/hotel10.jpg"></div>
    <div class="box box-2">
        <span class="box-content">
            <p><b>쉐라톤 그랜드 인천 호텔</b></p>
            <p><b>* * * *</b></p>
            <p><b>인천 연수구 컨벤시아대로 153</b></p>
            <p><b>쉐라톤 그랜드 인천 호텔은 송도 센트럴 파크를 바라보는 5성급 호텔로 송도의 중심부 국제무역</b></p>
            <p><b>단지내에 위치하고 있습니다. 지하 2층, 지상 22층 규모에 총 321개의 객실을 구비하고 있습니다.</b></p>
            <p><b>뷔페와 다양한 일품요리를 즐길 수 있는 레스토랑들이 각종 모임을 위한 최적의 서비스를 제공합니다.</b></p>
            <p><b>Wifi 무료</b></p>
        </span>
    </div>
    <div class="box box-3"><b><p>280,500원</p></b></div>
</div>

<div class="container">
    <div class="box box-1"><img src="/assets/img/hotel11.jpg"></div>
    <div class="box box-2">
        <span class="box-content">
            <p><b>송도 센트럴 파크 호텔</b></p>
            <p><b>* * *</b></p>
            <p><b>인천 연수구 테크노파크로 193</b></p>
             <p><b>송도 센트럴파크 옆에 있는 위치로 찾아가기가 매우 쉽습니다. 이곳은 엔틱한 느낌의 인테리어와</b></p>
             <p><b>송도센트럴파크가 한눈에 보이는 곳으로 위치가 좋습니다. 샤워실은 화장실과 따로 분리되어 있고</b></p>
             <p><b>거대한 욕조 또한 준비되어 있습니다. 주변 공원들을 산책하기에도 매우 좋습니다.</b></p>
            <p><b>Wifi 무료</b></p>
        </span>
    </div>
    <div class="box box-3"><b><p>101,741원</p></b></div>
</div>

<div class="container">
    <div class="box box-1"><img src="/assets/img/hotel12.jpg"></div>
    <div class="box box-2">
        <span class="box-content">
            <p><b>>홀리데이 인 인천 송도</b></p>
            <p><b>* * * *</b></p>
            <p><b>인천 연수구 인천타워대로 251</b></p>
            <p><b>화려한 야경을 자랑하는 시티뷰 객실에서 호캉스를 즐길수 있는 호텔로 센트럴파크역 바로 옆에</b></p>
            <p><b>위치해 있어 접근성이 좋습니다. 12층부터 18층까지의 고층에 위치해 있으며 19층 수라채 다이닝</b></p>
            <p><b>에서는 송도와 인천대교의 아름다운 전망을 볼 수 있으며 20층에 루프탑 라운지도 준비되어 있다.</b></p>
            <p><b>Wifi 무료</b></p>
        </span>
    </div>
    <div class="box box-3"><b><p>101,800원</p></b></div>
</div>
</body>
