<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>축구 여행 가이드</title>
    <link rel="stylesheet" href="/assets/css/topmenu.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
    <link rel="stylesheet" href="/assets/css/sidemenu.css">
    <link rel="stylesheet" href="/assets/css/box2.css">
    <style>
        body{
            background-image: url(/assets/img/background4.jpg);
            background-size: contain;
        }
    </style>
</head>
<body>
<header class="top-bar con-min-width">
    <h1><span style="color:black">Soccer Tour Guide</span></h1>
    <div class="con">
        <nav class="top-bar__menu-box-1">
            <ul>
                <li>
                    <a href="http://localhost:8080/dfood">맛집</a>
                </li>
                <li>
                    <a href="http://localhost:8080/dtour">관광지</a>
                </li>
                <li>
                    <a href="http://localhost:8080/dhome">숙소</a>
                </li>
                <li>
                    <a href="http://localhost:8080/dcourse">코스추천</a>
                </li>
            </ul>
        </nav>
    </div>
</header>

<aside class="side-bar">
    <ul>
        <li>
            <a href="http://localhost:8080/Page">fc서울</a>
            <ul>
                <li><a href="http://localhost:8080/food">맛집</a></li>
                <li><a href="http://localhost:8080/SeoulTour">관광지</a></li>
                <li><a href="http://localhost:8080/SeoulHome">숙소</a></li>
                <li><a href="http://localhost:8080/SeoulCourse">코스추천</a></li>
            </ul>
        </li>
        <li>
            <a href="http://localhost:8080/kindex">김천상무</a>
            <ul>
                <li><a href="http://localhost:8080/kfood">맛집</a></li>
                <li><a href="http://localhost:8080/ktour">관광지</a></li>
                <li><a href="http://localhost:8080/khome">숙소</a></li>
                <li><a href="http://localhost:8080/kcourse">코스추천</a></li>
            </ul>
        </li>
        <li>
            <a href="http://localhost:8080/sindex">수원fc</a>
            <ul>
                <li><a href="http://localhost:8080/sfood">맛집</a></li>
                <li><a href="http://localhost:8080/stour">관광지</a></li>
                <li><a href="http://localhost:8080/shome">숙소</a></li>
                <li><a href="http://localhost:8080/scourse">코스추천</a></li>
            </ul>
        </li>
        <li>
            <a href="http://localhost:8080/iindex">인천유나이티드</a>
            <ul>
                <li><a href="http://localhost:8080/ifood">맛집</a></li>
                <li><a href="http://localhost:8080/itour">관광지</a></li>
                <li><a href="http://localhost:8080/ihome">숙소</a></li>
                <li><a href="http://localhost:8080/icourse">코스추천</a></li>
            </ul>
        </li>
        <li>
            <a href="http://localhost:8080/gindex">강원fc</a>
            <ul>
                <li><a href="http://localhost:8080/gfood">맛집</a></li>
                <li><a href="http://localhost:8080/gtour">관광지</a></li>
                <li><a href="http://localhost:8080/ghome">숙소</a></li>
                <li><a href="http://localhost:8080/gcourse">코스추천</a></li>
            </ul>
        </li>
        <li>
            <a href="http://localhost:8080/dindex">대전하나시티즌</a>
            <ul>
                <li><a href="http://localhost:8080/dfood">맛집</a></li>
                <li><a href="http://localhost:8080/dtour">관광지</a></li>
                <li><a href="http://localhost:8080/dhome">숙소</a></li>
                <li><a href="http://localhost:8080/dcourse">코스추천</a></li>
            </ul>
        </li>
        <li>
            <a href="#">전북현대</a>
            <ul>
                <li><a href="#">맛집</a></li>
                <li><a href="#">관광지</a></li>
                <li><a href="#">숙소</a></li>
                <li><a href="#">코스추천</a></li>
            </ul>
        </li>
        <li>
            <a href="#">광주fc</a>
            <ul>
                <li><a href="#">맛집</a></li>
                <li><a href="#">관광지</a></li>
                <li><a href="#">숙소</a></li>
                <li><a href="#">코스추천</a></li>
            </ul>
        </li>
        <li>
            <a href="#">대구fc</a>
            <ul>
                <li><a href="#">맛집</a></li>
                <li><a href="#">관광지</a></li>
                <li><a href="#">숙소</a></li>
                <li><a href="#">코스추천</a></li>
            </ul>
        </li>
        <li>
            <a href="#">포항스틸러스</a>
            <ul>
                <li><a href="#">맛집</a></li>
                <li><a href="#">관광지</a></li>
                <li><a href="#">숙소</a></li>
                <li><a href="#">코스추천</a></li>
            </ul>
        </li>
        <li>
            <a href="#">울산현대</a>
            <ul>
                <li><a href="#">맛집</a></li>
                <li><a href="#">관광지</a></li>
                <li><a href="#">숙소</a></li>
                <li><a href="#">코스추천</a></li>
            </ul>
        </li>
        <li>
            <a href="#">제주유나이티드</a>
            <ul>
                <li><a href="#">맛집</a></li>
                <li><a href="#">관광지</a></li>
                <li><a href="#">숙소</a></li>
                <li><a href="#">코스추천</a></li>
            </ul>
        </li>
    </ul>
</aside>
</body>
</html>
<body>
<div class="container">
    <div class="box box-1"><img src="/assets/img/hotel19.jpg"></div>
    <div class="box box-2">
        <span class="box-content">
            <p><b>베스트웨스턴플러스 전주호텔</b></p>
            <p><b>* * * *</b></p>
            <p><b>전라북도 전주 완산구 현무1길 41</b></p>
            <p><b>베스트 웨스턴 플러스 전주 호텔은 전주고속버스터미널에서 차로 약 10분 거리에 있으며 주변</b></p>
            <p><b>관광지로는 전주한옥마을이 차로 약 5분, 자만 벽화마을과 자연생태박물관이 차로 약8분 정도</b></p>
            <p><b>소요됩니다. 수영장과 루프탑은 물론 전주 시내를 한눈에 볼 수 있습니다.</b></p>
            <p><b>Wifi 무료</b></p>
        </span>
    </div>
    <div class="box box-3"><b><p>113,223원</p></b></div>
</div>

<div class="container">
    <div class="box box-1"><img src="/assets/img/hotel20.jpg"></div>
    <div class="box box-2">
        <span class="box-content">
            <p><b>라한호텔 전주</b></p>
            <p><b>* * * *</b></p>
            <p><b>전주 완산구 기린대로 85 </b></p>
             <p><b>전주고속버스터미널에서 차로 약 15분 거리에 있으며 ktx 전주역에서 차로 약 20분 정도 떨어져</b></p>
             <p><b>있습니다. 관광지로는 경기전과 오목대가 도보 약 5분, 전동성당이 도보 약 10분가량 소요됩니다.</b></p>
             <p><b>야외 수영장과 북스토어 겸 카페, 피트니스 센터를 이용하실 수 있습니다.</b></p>
            <p><b>Wifi 무료</b></p>
        </span>
    </div>
    <div class="box box-3"><b><p>156,198원</p></b></div>
</div>

<div class="container">
    <div class="box box-1"><img src="/assets/img/hotel21.jpg"></div>
    <div class="box box-2">
        <span class="box-content">
            <p><b>더 메이 호텔</b></p>
            <p><b>* * * *</b></p>
            <p><b>전주 덕진구 기린대로 800</b></p>
            <p><b>전주 고속버스 터미널에서 차로 약 15분, 전주역에서 차로 약 25분 소요됩니다. 주변 명소인 전주</b></p>
            <p><b>한지 박물관과 전주덕진공원은 차로 약 6분이면 갈 수 있습니다. 호텔에는 에스테틱, 수영장, 연회장,</b></p>
            <p><b>비즈니스 센터, 피트니스 센터 등 다양한 시설이 갖춰져 있습니다. 또한 한식당과 카페도 있습니다.</b></p>
            <p><b>Wifi 무료</b></p>
        </span>
    </div>
    <div class="box box-3"><b><p>148,388원</p></b></div>
</div>
</body>