<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>축구 여행 가이드</title>
    <link rel="stylesheet" href="/assets/css/topmenu.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
    <link rel="stylesheet" href="/assets/css/sidemenu.css">
    <link rel="stylesheet" href="/assets/css/box.css">
    <style>
        body{
            background-image: url(/assets/img/background4.jpg);
            background-size: contain;
        }
    </style>
</head>
<body>
<header class="top-bar con-min-width">
    <h1><span style="color:black">Soccer Tour Guide</span></h1>
    <div class="con">
        <nav class="top-bar__menu-box-1">
            <ul>
                <li>
                    <a href="http://localhost:8080/jfood">맛집</a>
                </li>
                <li>
                    <a href="http://localhost:8080/jtour">관광지</a>
                </li>
                <li>
                    <a href="http://localhost:8080/jhome">숙소</a>
                </li>
                <li>
                    <a href="http://localhost:8080/jcourse">코스추천</a>
                </li>
            </ul>
        </nav>
    </div>
</header>

<aside class="side-bar">
    <ul>
        <li>
            <a href="http://localhost:8080/Page">fc서울</a>
            <ul>
                <li><a href="http://localhost:8080/food">맛집</a></li>
                <li><a href="http://localhost:8080/SeoulTour">관광지</a></li>
                <li><a href="http://localhost:8080/SeoulHome">숙소</a></li>
                <li><a href="http://localhost:8080/SeoulCourse">코스추천</a></li>
            </ul>
        </li>
        <li>
            <a href="http://localhost:8080/kindex">김천상무</a>
            <ul>
                <li><a href="http://localhost:8080/kfood">맛집</a></li>
                <li><a href="http://localhost:8080/ktour">관광지</a></li>
                <li><a href="http://localhost:8080/khome">숙소</a></li>
                <li><a href="http://localhost:8080/kcourse">코스추천</a></li>
            </ul>
        </li>
        <li>
            <a href="http://localhost:8080/sindex">수원fc</a>
            <ul>
                <li><a href="http://localhost:8080/sfood">맛집</a></li>
                <li><a href="http://localhost:8080/stour">관광지</a></li>
                <li><a href="http://localhost:8080/shome">숙소</a></li>
                <li><a href="http://localhost:8080/scourse">코스추천</a></li>
            </ul>
        </li>
        <li>
            <a href="http://localhost:8080/iindex">인천유나이티드</a>
            <ul>
                <li><a href="http://localhost:8080/ifood">맛집</a></li>
                <li><a href="http://localhost:8080/itour">관광지</a></li>
                <li><a href="http://localhost:8080/ihome">숙소</a></li>
                <li><a href="http://localhost:8080/icourse">코스추천</a></li>
            </ul>
        </li>
        <li>
            <a href="http://localhost:8080/gindex">강원fc</a>
            <ul>
                <li><a href="http://localhost:8080/gfood">맛집</a></li>
                <li><a href="http://localhost:8080/gtour">관광지</a></li>
                <li><a href="http://localhost:8080/ghome">숙소</a></li>
                <li><a href="http://localhost:8080/gcourse">코스추천</a></li>
            </ul>
        </li>
        <li>
            <a href="http://localhost:8080/dindex">대전하나시티즌</a>
            <ul>
                <li><a href="http://localhost:8080/dfood">맛집</a></li>
                <li><a href="http://localhost:8080/dtour">관광지</a></li>
                <li><a href="http://localhost:8080/dhome">숙소</a></li>
                <li><a href="http://localhost:8080/dcourse">코스추천</a></li>
            </ul>
        </li>
        <li>
            <a href="http://localhost:8080/jindex">전북현대</a>
            <ul>
                <li><a href="http://localhost:8080/jfood">맛집</a></li>
                <li><a href="http://localhost:8080/jtour">관광지</a></li>
                <li><a href="http://localhost:8080/jhome">숙소</a></li>
                <li><a href="http://localhost:8080/jcourse">코스추천</a></li>
            </ul>
        </li>
        <li>
            <a href="http://localhost:8080/gjindex">광주fc</a>
            <ul>
                <li><a href="http://localhost:8080/gjfood">맛집</a></li>
                <li><a href="http://localhost:8080/gjtour">관광지</a></li>
                <li><a href="http://localhost:8080/gjhome">숙소</a></li>
                <li><a href="http://localhost:8080/gjcourse">코스추천</a></li>
            </ul>
        </li>
        <li>
            <a href="#">대구fc</a>
            <ul>
                <li><a href="#">맛집</a></li>
                <li><a href="#">관광지</a></li>
                <li><a href="#">숙소</a></li>
                <li><a href="#">코스추천</a></li>
            </ul>
        </li>
        <li>
            <a href="#">포항스틸러스</a>
            <ul>
                <li><a href="#">맛집</a></li>
                <li><a href="#">관광지</a></li>
                <li><a href="#">숙소</a></li>
                <li><a href="#">코스추천</a></li>
            </ul>
        </li>
        <li>
            <a href="#">울산현대</a>
            <ul>
                <li><a href="#">맛집</a></li>
                <li><a href="#">관광지</a></li>
                <li><a href="#">숙소</a></li>
                <li><a href="#">코스추천</a></li>
            </ul>
        </li>
        <li>
            <a href="#">제주유나이티드</a>
            <ul>
                <li><a href="#">맛집</a></li>
                <li><a href="#">관광지</a></li>
                <li><a href="#">숙소</a></li>
                <li><a href="#">코스추천</a></li>
            </ul>
        </li>
    </ul>
</aside>
</body>
</html>
<main class="contents">
    <section id="headling">
        <div class="detail" style="margin: 0 auto; text-align: center;">
            <img src="/assets/img/전주한옥마을.jpg" style="display: block; margin: 70px auto 70px auto; width: 1050px; height: 400px; margin-left: auto; margin-right: auto">
            <div class>

                <p>전북특별자치도 전주시 완산구 교동, 풍남동 일대에 위치한 한옥 밀집거리로 전주의 대표적인 관광지로 한옥 건물들과 경기전, 전주향교, 한벽당, 오목대와</p>
                <p>이목대, 전동성당 등 오래된 건물들이 있다. 전주시가 관광지로 발돋움할 수 있게 해 준 원동력이며 인근 구도심 일대가 역사문화벨트로 묶여 같이 발전하고</p>
                <p>있다. 한복을 대여하는 곳도 인근에 있어, 한옥마을에선 한복을 입은 관광객들도 어렵지 않게 찾아볼 수 있다. 전주 한옥마을을 제대로 즐기고 싶다면 평일에</p>
                <p>가는 것이 좋으며 식사를 한다면 한옥마을 중심가보다 근처 남부시장이나 전라감영, 객사쪽에서 먹는걸 추천한다.</p>


            </div>
            <img src="/assets/img/자만벽화마을.jpg" style="display: block; margin: 70px auto 70px auto; width: 1050px; height: 400px; margin-left: auto; margin-right: auto">
            <div class>

                <p>자만벽화마을은 전주한옥마을의 언덕 위에 위치해 있다. 언덕을 따라 길을 올라가 보면 한옥마을이 한눈에 보인다. 6.25 전쟁 당시 피난민들이 주가 되어</p>
                <p>형성되었던 마을로 2012년부터 벽화가 그려지기 시작하였다. 일본의 인기 애니메이션 토토로, 센과 치히로의 행방불명, 도라에몽 등 귀엽고 아기자기한</p>
                <p>캐릭터가 벽면을 따라 그려져 있으며 해외 인기 영화 마틸다, 이상한 나라의 앨리스, 쿵푸팬더도 벽면 곳곳에서 발견할 수 있다. 여러가지 벽화들로 노후된</p>
                <p>건물을 빛나 보이게 한다.</p>

            </div>
            <img src="/assets/img/전주남부시장.jpg" style="display: block; margin: 70px auto 70px auto; width: 1050px; height: 400px; margin-left: auto; margin-right: auto">
            <div class>

                <p>전주 남부시장은 조선 중기 때부터 전주성 남문 바깥에 섰던 남문장의 역사를 이은 오래된 전통시장이다. 일제강점기 때 전주성 동서남북에 섰던 장들을</p>
                <p>하나로 통합해 남부시장이라는 명칭을 얻었고 한동안 침체기를 겪던 남부시장은 2000년대 들어서 변화를 도모하며 새롭게 주목받고 있다. 오늘날에는 시장</p>
                <p>2층에 청년몰을 유치하고 한옥마을과 함께 야시장을 개설해 좋은 반응을 얻고 있다. 젊은이들의 발길을 불러 모으고 전주의 대표 관광지인 한옥마을과 연계</p>
                <p>해 시장을 열며 관광객들의 호응을 얻고 있다. 또한 과거 남부시장 인근에 섰던 노점들을 새마을시장이라는 이름으로 정비해 시장 특유의 활력을 찾고 있다.</p>
            </div>
        </div>
    </section>
</main>