<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>축구 여행 가이드</title>
    <link rel="stylesheet" href="/assets/css/topmenu.css">
    <link rel="stylesheet" href="/assets/css/http_cdnjs.cloudflare.com_ajax_libs_font-awesome_6.4.0_css_all.css">
    <link rel="stylesheet" href="/assets/css/sidemenu.css">
    <style>
        body{
            background-image: url(/assets/img/background4.jpg);
            background-size: contain;
        }
    </style>
</head>
<body>
<header class="top-bar con-min-width">
    <h1><span style="color:black">Soccer Tour Guide</span></h1>
</header>

<aside class="side-bar">
    <ul>
        <li>
            <a href="http://localhost:8080/Page">fc서울</a>
            <ul>
                <li><a href="http://localhost:8080/food">맛집</a></li>
                <li><a href="http://localhost:8080/SeoulTour">관광지</a></li>
                <li><a href="http://localhost:8080/SeoulHome">숙소</a></li>
                <li><a href="http://localhost:8080/SeoulCourse">코스추천</a></li>
            </ul>
        </li>
        <li>
            <a href="http://localhost:8080/kindex">김천상무</a>
            <ul>
                <li><a href="http://localhost:8080/kfood">맛집</a></li>
                <li><a href="http://localhost:8080/ktour">관광지</a></li>
                <li><a href="http://localhost:8080/khome">숙소</a></li>
                <li><a href="http://localhost:8080/kcourse">코스추천</a></li>
            </ul>
        </li>
        <li>
            <a href="http://localhost:8080/sindex">수원fc</a>
            <ul>
                <li><a href="http://localhost:8080/sfood">맛집</a></li>
                <li><a href="http://localhost:8080/stour">관광지</a></li>
                <li><a href="http://localhost:8080/shome">숙소</a></li>
                <li><a href="http://localhost:8080/scourse">코스추천</a></li>
            </ul>
        </li>
        <li>
            <a href="http://localhost:8080/iindex">인천유나이티드</a>
            <ul>
                <li><a href="http://localhost:8080/ifood">맛집</a></li>
                <li><a href="http://localhost:8080/itour">관광지</a></li>
                <li><a href="http://localhost:8080/ihome">숙소</a></li>
                <li><a href="http://localhost:8080/icourse">코스추천</a></li>
            </ul>
        </li>
        <li>
            <a href="http://localhost:8080/gindex">강원fc</a>
            <ul>
                <li><a href="http://localhost:8080/gfood">맛집</a></li>
                <li><a href="http://localhost:8080/gtour">관광지</a></li>
                <li><a href="http://localhost:8080/ghome">숙소</a></li>
                <li><a href="http://localhost:8080/gcourse">코스추천</a></li>
            </ul>
        </li>
        <li>
            <a href="http://localhost:8080/dindex">대전하나시티즌</a>
            <ul>
                <li><a href="http://localhost:8080/dfood">맛집</a></li>
                <li><a href="http://localhost:8080/dtour">관광지</a></li>
                <li><a href="http://localhost:8080/dhome">숙소</a></li>
                <li><a href="http://localhost:8080/dcourse">코스추천</a></li>
            </ul>
        </li>
        <li>
            <a href="http://localhost:8080/jindex">전북현대</a>
            <ul>
                <li><a href="http://localhost:8080/jfood">맛집</a></li>
                <li><a href="http://localhost:8080/jtour">관광지</a></li>
                <li><a href="http://localhost:8080/jhome">숙소</a></li>
                <li><a href="http://localhost:8080/jcourse">코스추천</a></li>
            </ul>
        </li>
        <li>
            <a href="http://localhost:8080/gjindex">광주fc</a>
            <ul>
                <li><a href="http://localhost:8080/gjfood">맛집</a></li>
                <li><a href="http://localhost:8080/gjtour">관광지</a></li>
                <li><a href="http://localhost:8080/gjhome">숙소</a></li>
                <li><a href="http://localhost:8080/gjcourse">코스추천</a></li>
            </ul>
        </li>
        <li>
            <a href="http://localhost:8080/dgindex">대구fc</a>
            <ul>
                <li><a href="http://localhost:8080/dgfood">맛집</a></li>
                <li><a href="http://localhost:8080/dgtour">관광지</a></li>
                <li><a href="http://localhost:8080/dghome">숙소</a></li>
                <li><a href="http://localhost:8080/dgcourse">코스추천</a></li>
            </ul>
        </li>
        <li>
            <a href="http://localhost:8080/pindex">포항스틸러스</a>
            <ul>
                <li><a href="http://localhost:8080/pfood">맛집</a></li>
                <li><a href="http://localhost:8080/ptour">관광지</a></li>
                <li><a href="http://localhost:8080/phome">숙소</a></li>
                <li><a href="http://localhost:8080/pcourse">코스추천</a></li>
            </ul>
        </li>
        <li>
            <a href="#">울산현대</a>
            <ul>
                <li><a href="#">맛집</a></li>
                <li><a href="#">관광지</a></li>
                <li><a href="#">숙소</a></li>
                <li><a href="#">코스추천</a></li>
            </ul>
        </li>
        <li>
            <a href="#">제주유나이티드</a>
            <ul>
                <li><a href="#">맛집</a></li>
                <li><a href="#">관광지</a></li>
                <li><a href="#">숙소</a></li>
                <li><a href="#">코스추천</a></li>
            </ul>
        </li>
    </ul>
</aside>

<div id="map" style="width:800px;height:600px; margin: 0 auto;"></div>
<script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=f5b93b38400f8a439279bddc0851658c"></script>
<script>
    var container = document.getElementById('map');
    var options = {
        center: new kakao.maps.LatLng(35.8681258, 127.0644156),
        level: 5
    };

    var map = new kakao.maps.Map(container, options);

    // 마커를 표시할 위치와 내용을 가지고 있는 객체 배열입니다
    var positions = [
        {
            content: '<div>전주월드컵경기장</div>',
            latlng: new kakao.maps.LatLng(35.8681258, 127.0644156)
        },
        {
            content: '<div>전주한옥마을</div>',
            latlng: new kakao.maps.LatLng(35.8175376, 127.1520417)
        },
        {
            content: '<div>현대옥 동산반월점</div>',
            latlng: new kakao.maps.LatLng(35.86824085635022,127.07826063036919)
        },
        {
            content: '<div>자만벽화마을</div>',
            latlng: new kakao.maps.LatLng( 35.814001, 127.1572009)
        },
        {
            content: '<div>뽀빠이순대 전주</div>',
            latlng: new kakao.maps.LatLng(35.86972647919175,127.07747742533684)
        },
        {
            content: '<div>전주남부시장</div>',
            latlng: new kakao.maps.LatLng(35.8126868, 127.1468566)
        },
        {
            content: '<div>청담옥 전주</div>',
            latlng: new kakao.maps.LatLng(35.8555969,127.0661886)
        }

    ];

    for (var i = 0; i < positions.length; i ++) {
        // 마커를 생성합니다
        var marker = new kakao.maps.Marker({
            map: map, // 마커를 표시할 지도
            position: positions[i].latlng // 마커의 위치
        });

        // 마커에 표시할 인포윈도우를 생성합니다
        var infowindow = new kakao.maps.InfoWindow({
            content: positions[i].content // 인포윈도우에 표시할 내용
        });

        // 마커에 mouseover 이벤트와 mouseout 이벤트를 등록합니다
        // 이벤트 리스너로는 클로저를 만들어 등록합니다
        // for문에서 클로저를 만들어 주지 않으면 마지막 마커에만 이벤트가 등록됩니다
        kakao.maps.event.addListener(marker, 'mouseover', makeOverListener(map, marker, infowindow));
        kakao.maps.event.addListener(marker, 'mouseout', makeOutListener(infowindow));
    }

    // 인포윈도우를 표시하는 클로저를 만드는 함수입니다
    function makeOverListener(map, marker, infowindow) {
        return function() {
            infowindow.open(map, marker);
        };
    }

    // 인포윈도우를 닫는 클로저를 만드는 함수입니다
    function makeOutListener(infowindow) {
        return function() {
            infowindow.close();
        };
    }

    var linePath = [
        new kakao.maps.LatLng(35.8681258, 127.0644156),
        new kakao.maps.LatLng(35.86824085635022,127.07826063036919),
        new kakao.maps.LatLng(35.8175376, 127.1520417)
    ];
    var linePath2 = [
        new kakao.maps.LatLng(35.814001, 127.1572009),
        new kakao.maps.LatLng(35.86972647919175,127.07747742533684),
        new kakao.maps.LatLng(35.8681258, 127.0644156)
    ];
    var linePath3 = [
        new kakao.maps.LatLng(35.8126868, 127.1468566),
        new kakao.maps.LatLng(35.8555969,127.0661886),
        new kakao.maps.LatLng(35.8681258, 127.0644156)
    ];


    // 지도에 표시할 선을 생성합니다
    var polyline = new kakao.maps.Polyline({
        path: linePath, // 선을 구성하는 좌표배열 입니다
        strokeWeight: 5, // 선의 두께 입니다
        strokeColor: '#FFAE00', // 선의 색깔입니다
        strokeOpacity: 0.7, // 선의 불투명도 입니다 1에서 0 사이의 값이며 0에 가까울수록 투명합니다
        strokeStyle: 'solid' // 선의 스타일입니다
    });

    var polyline2 = new kakao.maps.Polyline({
        path: linePath2, // 선을 구성하는 좌표배열 입니다
        strokeWeight: 5, // 선의 두께 입니다
        strokeColor: '#75B8FA', // 선의 색깔입니다
        strokeOpacity: 0.7, // 선의 불투명도 입니다 1에서 0 사이의 값이며 0에 가까울수록 투명합니다
        strokeStyle: 'solid' // 선의 스타일입니다
    });

    var polyline3 = new kakao.maps.Polyline({
        path: linePath3, // 선을 구성하는 좌표배열 입니다
        strokeWeight: 5, // 선의 두께 입니다
        strokeColor: '#FF3DE5', // 선의 색깔입니다
        strokeOpacity: 0.7, // 선의 불투명도 입니다 1에서 0 사이의 값이며 0에 가까울수록 투명합니다
        strokeStyle: 'solid' // 선의 스타일입니다
    });

    // 지도에 선을 표시합니다
    polyline.setMap(map);
    polyline2.setMap(map);
    polyline3.setMap(map);

</script>

<div style="border: 1px solid black; padding: 10px; margin: 50px auto; align-content: center; width: 700px;">
    <div style="margin: 0 auto; align-content: center; text-align: center;">
        <b style="color: #FFAE00">1. 전주월드컵경기장 -> 현대옥 -> 전주한옥마을</b>
        <p>먼저 전주월드컵경기장으로 이동해 축구 경기를 관람한 후 저녁 식사를 하러 현대옥으로 이동합니다. 현대옥은 토렴응용식을 이용한 콩나물</p>
        <p>콩나물 국밥 맛집으로 적당한 국물 온도로 즐기실 수 있습니다. 여기에 오징어 사리를 추가해서 드시면 더 맛있게 드실 수 있습니다. 식사를</p>
        <p>마친 후 전주한옥마을로 이동해 걸어 다니며 한옥들로 가득한 거리에서 사진도 찍고 한복도 입고 하면서 시간을 보냅니다. 구경을 마친 후</p>
        <p>호텔로 돌아갑니다.</p>
    </div>
</div>

<div style="border: 1px solid black; padding: 10px; margin: 50px auto; align-content: center; width: 700px;">
    <div style="margin: 0 auto; align-content: center; text-align: center;">
        <b style="color: #75B8FA">2. 자만벽화마을 -> 뽀빠이순대 -> 전주월드컵경기장</b>
        <p>먼저 전주한옥마을 언덕에 위치한 자만벽화마을로 이동합니다. 언덕을 따라 올라가다 보면 한옥마을이 한눈에 보이고 일본의 인기 애니메이션</p>
        <p>그림들이 그려져 있는 것을 볼 수 있습니다. 구경을 마친 후 축구를 관람하기 전에 식사를 하러 뽀빠이순대로 이동합니다. 이곳은 순대국밥과</p>
        <p>불고기 맛집으로 맛있고 든든한 한끼를 해결하실 수 있습니다. 식사를 마치고 전주월드컵경기장으로 이동해 축구를 관람후 호텔로 이동합니다.</p>
    </div>
</div>

<div style="border: 1px solid black; padding: 10px; margin: 50px auto; align-content: center; width: 700px;">
    <div style="margin: 0 auto; align-content: center; text-align: center;">
        <b style="color: #FF3DE5">3. 전주남부시장 -> 청담옥 -> 전주월드컵경기장</b>
        <p>먼저 전주남부시장으로 이동합니다. 이곳은 청년몰과 한옥마을과 함께 야시장으로 운영함으로써 젊은이들 사이에서도 좋은 반응을 얻고 있습니다.</p>
        <p>시장 구경을 마친 후 식사를 하러 청담옥으로 이동합니다. 이곳은 수제 돼지갈비 맛집으로 정갈한 밑반찬들고 좋은 맛으로 인기가 좋은 식당입니다.</p>
        <p>이곳에서 식사를 마친 후 전주월드컵경기장으로 이동해 축구 경기를 관람한 후 호텔로 돌아갑니다.</p>
    </div>
</div>

</body>
</html>