<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>축구 여행 가이드</title>
    <link rel="stylesheet" href="/assets/css/topmenu.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
    <link rel="stylesheet" href="/assets/css/sidemenu.css">
    <link rel="stylesheet" href="/assets/css/box2.css">
    <style>
        body{
            background-image: url(/assets/img/background4.jpg);
            background-size: contain;
        }
    </style>
</head>
<body>
<header class="top-bar con-min-width">
    <h1><span style="color:black">Soccer Tour Guide</span></h1>
    <div class="con">
        <nav class="top-bar__menu-box-1">
            <ul>
                <li>
                    <a href="http://localhost:8080/kfood">맛집</a>
                </li>
                <li>
                    <a href="http://localhost:8080/ktour">관광지</a>
                </li>
                <li>
                    <a href="http://localhost:8080/khome">숙소</a>
                </li>
                <li>
                    <a href="http://localhost:8080/kcourse">코스추천</a>
                </li>
            </ul>
        </nav>
    </div>
</header>

<aside class="side-bar">
    <ul>
        <li>
            <a href="http://localhost:8080/Page">fc서울</a>
            <ul>
                <li><a href="http://localhost:8080/food">맛집</a></li>
                <li><a href="http://localhost:8080/SeoulTour">관광지</a></li>
                <li><a href="http://localhost:8080/SeoulHome">숙소</a></li>
                <li><a href="http://localhost:8080/SeoulCourse">코스추천</a></li>
            </ul>
        </li>
        <li>
            <a href="http://localhost:8080/kindex">김천상무</a>
            <ul>
                <li><a href="http://localhost:8080/kfood">맛집</a></li>
                <li><a href="http://localhost:8080/ktour">관광지</a></li>
                <li><a href="http://localhost:8080/khome">숙소</a></li>
                <li><a href="http://localhost:8080/kcourse">코스추천</a></li>
            </ul>
        </li>
        <li>
            <a href="http://localhost:8080/sindex">수원fc</a>
            <ul>
                <li><a href="http://localhost:8080/sfood">맛집</a></li>
                <li><a href="http://localhost:8080/stour">관광지</a></li>
                <li><a href="http://localhost:8080/shome">숙소</a></li>
                <li><a href="http://localhost:8080/scourse">코스추천</a></li>
            </ul>
        </li>
        <li>
            <a href="http://localhost:8080/iindex">인천유나이티드</a>
            <ul>
                <li><a href="http://localhost:8080/ifood">맛집</a></li>
                <li><a href="http://localhost:8080/itour">관광지</a></li>
                <li><a href="http://localhost:8080/ihome">숙소</a></li>
                <li><a href="http://localhost:8080/icourse">코스추천</a></li>
            </ul>
        </li>
        <li>
            <a href="http://localhost:8080/gindex">강원fc</a>
            <ul>
                <li><a href="http://localhost:8080/gfood">맛집</a></li>
                <li><a href="http://localhost:8080/gtour">관광지</a></li>
                <li><a href="http://localhost:8080/ghome">숙소</a></li>
                <li><a href="http://localhost:8080/gcourse">코스추천</a></li>
            </ul>
        </li>
        <li>
            <a href="http://localhost:8080/dindex">대전하나시티즌</a>
            <ul>
                <li><a href="http://localhost:8080/dfood">맛집</a></li>
                <li><a href="http://localhost:8080/dtour">관광지</a></li>
                <li><a href="http://localhost:8080/dhome">숙소</a></li>
                <li><a href="http://localhost:8080/dcourse">코스추천</a></li>
            </ul>
        </li>
        <li>
            <a href="#">전북현대</a>
            <ul>
                <li><a href="#">맛집</a></li>
                <li><a href="#">관광지</a></li>
                <li><a href="#">숙소</a></li>
                <li><a href="#">코스추천</a></li>
            </ul>
        </li>
        <li>
            <a href="#">광주fc</a>
            <ul>
                <li><a href="#">맛집</a></li>
                <li><a href="#">관광지</a></li>
                <li><a href="#">숙소</a></li>
                <li><a href="#">코스추천</a></li>
            </ul>
        </li>
        <li>
            <a href="#">대구fc</a>
            <ul>
                <li><a href="#">맛집</a></li>
                <li><a href="#">관광지</a></li>
                <li><a href="#">숙소</a></li>
                <li><a href="#">코스추천</a></li>
            </ul>
        </li>
        <li>
            <a href="#">포항스틸러스</a>
            <ul>
                <li><a href="#">맛집</a></li>
                <li><a href="#">관광지</a></li>
                <li><a href="#">숙소</a></li>
                <li><a href="#">코스추천</a></li>
            </ul>
        </li>
        <li>
            <a href="#">울산현대</a>
            <ul>
                <li><a href="#">맛집</a></li>
                <li><a href="#">관광지</a></li>
                <li><a href="#">숙소</a></li>
                <li><a href="#">코스추천</a></li>
            </ul>
        </li>
        <li>
            <a href="#">제주유나이티드</a>
            <ul>
                <li><a href="#">맛집</a></li>
                <li><a href="#">관광지</a></li>
                <li><a href="#">숙소</a></li>
                <li><a href="#">코스추천</a></li>
            </ul>
        </li>
    </ul>
</aside>
</body>
</html>
<body>
<div class="container">
    <div class="box box-1"><img src="/assets/img/hotel4.jpg"></div>
    <div class="box box-2">
        <span class="box-content">
            <p><b>호텔 로제니아 레지던스 & 호텔 (3성급)</b></p>
            <p><b>* * *  (6.6/10)</b></p>
            <p><b>경북 김천시 율곡동 777</b></p>
            <p><b>호텔 로제니아 레지던스 & 호텔은 김천공용버스터미널에서 차로 약 15분 거리에 위치해 있습니다.</b></p>
            <p><b>주변 관광지로 김천자산동벽화마을과 직지문화공원까지는 차로 각각 15분~30분이 소요됩니다.</b></p>
            <p><b>김천에 자리한 이 호텔에는 공용 지역 무료 무선 인터넷, 물품 보관소 등이 완비되어 있습니다.</b></p>
            <p><b>Wifi 무료</b></p>
        </span>
    </div>
    <div class="box box-3"><b><p>156,000원</p></b></div>
</div>

<div class="container">
    <div class="box box-1"><img src="/assets/img/hotel5.jpg"></div>
    <div class="box box-2">
        <span class="box-content">
            <p><b>김천 오색애견펜션</b></p>
            <p><b>* * * * (4.9)</b></p>
            <p><b>경북 김천시 남면 오봉리 708-2</b></p>
            <p><b>김천에 있는 애완동반팬션입니다. 영유아 및 아동 입실불가이고 애견미동반시 입실불가 입니다.</b></p>
            <p><b>애견 밥그릇과 방석패드 그리고 기저귀까지 준비되어 있습니다. 주방용품들과 깨끗한 화장실이</b></p>
            <p><b>준비되어 있습니다. 또한 발코니에는 애견전용 버블스파와 애견 드라이룸, 미용테이블이 준비되어 있습니다.</b></p>
            <p><b>Wifi 무료</b></p>
        </span>
    </div>
    <div class="box box-3"><b><p>130,000원</p></b></div>
</div>

<div class="container">
    <div class="box box-1"><img src="/assets/img/hotel6.jpg"></div>
    <div class="box box-2">
        <span class="box-content">
            <p><b>김천 바바호텔</b></p>
            <p><b>* * * * (4.43)</b></p>
            <p><b>경북 김천시 부곡동 426-23</b></p>
            <p><b>김천 부곡동 시민탑 옆에 위치해 있으며, 부곡맛고을 차량5분, 직지사 차량15분, 연화지 차량5분</b></p>
            <p><b>거리로 호텔 인근에 많은 명소가 있는게 특징이며, 김천ic에서 가장 가까운 호텔 입니다. 모든 객실이</b></p>
            <p><b>편안한 느낌을 주는 예쁘고, 감성적인 인테리어가 특징이며 스타일리쉬함과 편안함을 갖추고 있습니다.</b></p>
            <p><b>Wifi 무료</b></p>
        </span>
    </div>
    <div class="box box-3"><b><p>65,000원</p></b></div>
</div>
</body>
