<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>축구 여행 가이드</title>
    <link rel="stylesheet" href="/assets/css/topmenu.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
    <link rel="stylesheet" href="/assets/css/sidemenu.css">
    <link rel="stylesheet" href="/assets/css/box.css">
    <style>
        body{
            background-image: url(/assets/img/background4.jpg);
            background-size: contain;
        }
    </style>
</head>
<body>
<header class="top-bar con-min-width">
    <h1><span style="color:black">Soccer Tour Guide</span></h1>
    <div class="con">
        <nav class="top-bar__menu-box-1">
            <ul>
                <li>
                    <a href="http://localhost:8080/kfood">맛집</a>
                </li>
                <li>
                    <a href="http://localhost:8080/ktour">관광지</a>
                </li>
                <li>
                    <a href="http://localhost:8080/khome">숙소</a>
                </li>
                <li>
                    <a href="http://localhost:8080/kcourse">코스추천</a>
                </li>
            </ul>
        </nav>
    </div>
</header>

<aside class="side-bar">
    <ul>
        <li>
            <a href="http://localhost:8080/Page">fc서울</a>
            <ul>
                <li><a href="http://localhost:8080/food">맛집</a></li>
                <li><a href="http://localhost:8080/SeoulTour">관광지</a></li>
                <li><a href="http://localhost:8080/SeoulHome">숙소</a></li>
                <li><a href="http://localhost:8080/SeoulCourse">코스추천</a></li>
            </ul>
        </li>
        <li>
            <a href="http://localhost:8080/kindex">김천상무</a>
            <ul>
                <li><a href="http://localhost:8080/kfood">맛집</a></li>
                <li><a href="http://localhost:8080/ktour">관광지</a></li>
                <li><a href="http://localhost:8080/khome">숙소</a></li>
                <li><a href="http://localhost:8080/kcourse">코스추천</a></li>
            </ul>
        </li>
        <li>
            <a href="#">수원fc</a>
            <ul>
                <li><a href="#">맛집</a></li>
                <li><a href="#">관광지</a></li>
                <li><a href="#">숙소</a></li>
                <li><a href="#">코스추천</a></li>
            </ul>
        </li>
        <li>
            <a href="#">인천유나이티드</a>
            <ul>
                <li><a href="#">맛집</a></li>
                <li><a href="#">관광지</a></li>
                <li><a href="#">숙소</a></li>
                <li><a href="#">코스추천</a></li>
            </ul>
        </li>
        <li>
            <a href="#">강원fc</a>
            <ul>
                <li><a href="#">맛집</a></li>
                <li><a href="#">관광지</a></li>
                <li><a href="#">숙소</a></li>
                <li><a href="#">코스추천</a></li>
            </ul>
        </li>
        <li>
            <a href="#">대전하나시티즌</a>
            <ul>
                <li><a href="#">맛집</a></li>
                <li><a href="#">관광지</a></li>
                <li><a href="#">숙소</a></li>
                <li><a href="#">코스추천</a></li>
            </ul>
        </li>
        <li>
            <a href="#">전북현대</a>
            <ul>
                <li><a href="#">맛집</a></li>
                <li><a href="#">관광지</a></li>
                <li><a href="#">숙소</a></li>
                <li><a href="#">코스추천</a></li>
            </ul>
        </li>
        <li>
            <a href="#">광주fc</a>
            <ul>
                <li><a href="#">맛집</a></li>
                <li><a href="#">관광지</a></li>
                <li><a href="#">숙소</a></li>
                <li><a href="#">코스추천</a></li>
            </ul>
        </li>
        <li>
            <a href="#">대구fc</a>
            <ul>
                <li><a href="#">맛집</a></li>
                <li><a href="#">관광지</a></li>
                <li><a href="#">숙소</a></li>
                <li><a href="#">코스추천</a></li>
            </ul>
        </li>
        <li>
            <a href="#">포항스틸러스</a>
            <ul>
                <li><a href="#">맛집</a></li>
                <li><a href="#">관광지</a></li>
                <li><a href="#">숙소</a></li>
                <li><a href="#">코스추천</a></li>
            </ul>
        </li>
        <li>
            <a href="#">울산현대</a>
            <ul>
                <li><a href="#">맛집</a></li>
                <li><a href="#">관광지</a></li>
                <li><a href="#">숙소</a></li>
                <li><a href="#">코스추천</a></li>
            </ul>
        </li>
        <li>
            <a href="#">제주유나이티드</a>
            <ul>
                <li><a href="#">맛집</a></li>
                <li><a href="#">관광지</a></li>
                <li><a href="#">숙소</a></li>
                <li><a href="#">코스추천</a></li>
            </ul>
        </li>
    </ul>
</aside>
</body>
</html>
<main class="contents">
    <section id="headling">
        <div class="detail" style="margin: 0 auto; text-align: center;">
            <img src="/assets/img/phoenix.jpg" style="display: block; margin: 70px auto 70px auto; width: 1050px; height: 400px; margin-left: auto; margin-right: auto">
            <div class>

                <p>김천 봉황대(金泉 鳳凰臺)는 경상북도 김천시에 있는 건축물이다. 1985년 8월 5일 경상북도의 문화재자료 제15호로 지정되었고 연화지 가운데 있는 정자로 </p>
                <p>주변 경관이 아름다워서 옛 선비들이 시를 읊고 학문을 토론했던 장소이다. 근처에 김천 종합운동장이 있어 경기 관람이 예정되어 있다면 한번씩 찾아가면</p>
                <p>동선에 있어서 좋다. 건물 규모는 앞면·옆면 3칸 2층 누각이며 지붕은 옆에서 볼 때 여덟 팔(八)자 모양인 팔작지붕으로 꾸몄다. 큰 규모에 연화지로 벛꽃이</p>
                <p>가득 피어 봄에 벛꽃 구경하기 너무 좋고 주변 산책로와 봉황대까지 예쁜 구조물과 풍경을 감상하면 좋을 것 입니다. 가을은 단풍으로 색다른 느낌을 느낍니다.</p>

            </div>
            <img src="/assets/img/samyeong.jpg" style="display: block; margin: 70px auto 70px auto; width: 1050px; height: 400px; margin-left: auto; margin-right: auto">
            <div class>

                <p>사명대사공원은 체류형 관광테마공원으로 황악산의 아름다운 자연과 직지사 등 문화, 역사자원을 연계하여 자연속에서 쉬어가며 체험하는 관광지이다.</p>
                <p>공원 내 한옥형 숙박시설과 대관이 가능한 연회실, 접견실 등이 있고 마사지, 족욕 등 건강 문화를 체험할 수 있는 체험실과 다도를 할 수 있는 솔향다원,</p>
                <p>한복체험관 등 다양한 시설과 프로그램이 있습니다. 인근에는 사명대사공원과 연결되는 직지사와 직지문화공원, 친환경 생태공원, 세계도자기박물관들,</p>
                <p>김천시립박물관이 주변 산책길들이에 조성되어 있습니다. 사면대사의 탑은 멋진 구조물로 저녁에 가면 불빛으로 또다른 느낌을 줍니다.</p>

            </div>
            <img src="/assets/img/bridge.jpg" style="display: block; margin: 70px auto 70px auto; width: 1050px; height: 400px; margin-left: auto; margin-right: auto">
            <div class>

                <p>부항댐 출렁다리는 수면 위에서 짜릿함을 경험할 수 있는 명소이며 근처에는 국내 인공구조물 최고 높이인 94m 타워형 집와이어, 스카이워크, 하늘그네 등</p>
                <p>체험할 수 있는 시설도 있어 스릴감을 만끽하고 싶은 여행자에게 최고의 장소입니다. 하절기(3월~11월) 09:00~22:00/ 동절기(12월~2월) 09:00~17:00로</p>
                <p>이용시간이 정해져 있으며 두개의 넓은 주차장을 보유하고 있어 주차하는데 있어서 편하다. 또한 부항댐 둘레길이 주변에 있어 산책을 하며 시간을 보낼 수</p>
                <p>있고 안에 있는 부항정이라고 하는 팔각정 또한 구경해 볼 수 있다. 또 주변에 흔들의자와 레인보우 의자로 SNS 핫플로 많은 분들이 사진을 남기기도 하는 곳이다.</p>
            </div>
        </div>
    </section>
</main>