<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>축구 여행 가이드</title>
    <link rel="stylesheet" href="/assets/css/topmenu.css">
    <link rel="stylesheet" href="/assets/css/http_cdnjs.cloudflare.com_ajax_libs_font-awesome_6.4.0_css_all.css">
    <link rel="stylesheet" href="/assets/css/sidemenu.css">
    <!-- <link rel="stylesheet" type="text/css" href="styles.css"> -->

    <style>
        body{
          background-image: url(/static/assets/img/background2.jpg);
          background-size: 350px 250px;
          background-position: center;
          background-repeat: no-repeat;
        }
    </style>
</head>
<body>
<header class="top-bar con-min-width">
    <h1><span style="color:black">Soccer Tour Guide</span></h1>
    <br />
    <div class="con">
        <!-- <nav class="top-bar__menu-box-1">
          <ul>
            <li>
              <a href="#">menu1</a>
            </li>
            <li>
              <a href="#">menu2</a>
            </li>
            <li>
              <a href="#">menu3</a>
            </li>
            <li>
              <a href="#">menu4</a>
            </li>
          </ul>
        </nav> -->
    </div>
</header>

<aside class="side-bar">
    <ul>
        <li>
            <a href="http://localhost:8080/Page">fc서울</a>
            <ul>
                <li><a href="http://localhost:8080/food">맛집</a></li>
                <li><a href="#">관광지</a></li>
                <li><a href="#">숙소</a></li>
                <li><a href="#">코스추천</a></li>
            </ul>
        </li>
        <li>
            <a href="#">수원삼성</a>
            <ul>
                <li><a href="#">맛집</a></li>
                <li><a href="#">관광지</a></li>
                <li><a href="#">숙소</a></li>
                <li><a href="#">코스추천</a></li>
            </ul>
        </li>
        <li>
            <a href="#">수원fc</a>
            <ul>
                <li><a href="#">맛집</a></li>
                <li><a href="#">관광지</a></li>
                <li><a href="#">숙소</a></li>
                <li><a href="#">코스추천</a></li>
            </ul>
        </li>
        <li>
            <a href="#">인천유나이티드</a>
            <ul>
                <li><a href="#">맛집</a></li>
                <li><a href="#">관광지</a></li>
                <li><a href="#">숙소</a></li>
                <li><a href="#">코스추천</a></li>
            </ul>
        </li>
        <li>
            <a href="#">강원fc</a>
            <ul>
                <li><a href="#">맛집</a></li>
                <li><a href="#">관광지</a></li>
                <li><a href="#">숙소</a></li>
                <li><a href="#">코스추천</a></li>
            </ul>
        </li>
        <li>
            <a href="#">대전하나시티즌</a>
            <ul>
                <li><a href="#">맛집</a></li>
                <li><a href="#">관광지</a></li>
                <li><a href="#">숙소</a></li>
                <li><a href="#">코스추천</a></li>
            </ul>
        </li>
        <li>
            <a href="#">전북현대</a>
            <ul>
                <li><a href="#">맛집</a></li>
                <li><a href="#">관광지</a></li>
                <li><a href="#">숙소</a></li>
                <li><a href="#">코스추천</a></li>
            </ul>
        </li>
        <li>
            <a href="#">광주fc</a>
            <ul>
                <li><a href="#">맛집</a></li>
                <li><a href="#">관광지</a></li>
                <li><a href="#">숙소</a></li>
                <li><a href="#">코스추천</a></li>
            </ul>
        </li>
        <li>
            <a href="#">대구fc</a>
            <ul>
                <li><a href="#">맛집</a></li>
                <li><a href="#">관광지</a></li>
                <li><a href="#">숙소</a></li>
                <li><a href="#">코스추천</a></li>
            </ul>
        </li>
        <li>
            <a href="#">포항스틸러스</a>
            <ul>
                <li><a href="#">맛집</a></li>
                <li><a href="#">관광지</a></li>
                <li><a href="#">숙소</a></li>
                <li><a href="#">코스추천</a></li>
            </ul>
        </li>
        <li>
            <a href="#">울산현대</a>
            <ul>
                <li><a href="#">맛집</a></li>
                <li><a href="#">관광지</a></li>
                <li><a href="#">숙소</a></li>
                <li><a href="#">코스추천</a></li>
            </ul>
        </li>
        <li>
            <a href="#">제주유나이티드</a>
            <ul>
                <li><a href="#">맛집</a></li>
                <li><a href="#">관광지</a></li>
                <li><a href="#">숙소</a></li>
                <li><a href="#">코스추천</a></li>
            </ul>
        </li>
    </ul>
</aside>
<div style="text-align: center;">
    <img src="/assets/img/table.PNG" width="1000">
</div>
</body>
</html>