<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>축구 여행 가이드</title>
    <link rel="stylesheet" href="/assets/css/topmenu.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
    <link rel="stylesheet" href="/assets/css/sidemenu.css">
    <link rel="stylesheet" href="/assets/css/box.css">
    <style>
        body{
            background-image: url(/assets/img/background4.jpg);
            background-size: contain;
        }
    </style>
</head>
<body>
<header class="top-bar con-min-width">
    <h1><span style="color:black">Soccer Tour Guide</span></h1>
    <div class="con">
        <nav class="top-bar__menu-box-1">
            <ul>
                <li>
                    <a href="http://localhost:8080/gjfood">맛집</a>
                </li>
                <li>
                    <a href="http://localhost:8080/gjtour">관광지</a>
                </li>
                <li>
                    <a href="http://localhost:8080/gjhome">숙소</a>
                </li>
                <li>
                    <a href="http://localhost:8080/gjcourse">코스추천</a>
                </li>
            </ul>
        </nav>
    </div>
</header>

<aside class="side-bar">
    <ul>
        <li>
            <a href="http://localhost:8080/Page">fc서울</a>
            <ul>
                <li><a href="http://localhost:8080/food">맛집</a></li>
                <li><a href="http://localhost:8080/SeoulTour">관광지</a></li>
                <li><a href="http://localhost:8080/SeoulHome">숙소</a></li>
                <li><a href="http://localhost:8080/SeoulCourse">코스추천</a></li>
            </ul>
        </li>
        <li>
            <a href="http://localhost:8080/kindex">김천상무</a>
            <ul>
                <li><a href="http://localhost:8080/kfood">맛집</a></li>
                <li><a href="http://localhost:8080/ktour">관광지</a></li>
                <li><a href="http://localhost:8080/khome">숙소</a></li>
                <li><a href="http://localhost:8080/kcourse">코스추천</a></li>
            </ul>
        </li>
        <li>
            <a href="http://localhost:8080/sindex">수원fc</a>
            <ul>
                <li><a href="http://localhost:8080/sfood">맛집</a></li>
                <li><a href="http://localhost:8080/stour">관광지</a></li>
                <li><a href="http://localhost:8080/shome">숙소</a></li>
                <li><a href="http://localhost:8080/scourse">코스추천</a></li>
            </ul>
        </li>
        <li>
            <a href="http://localhost:8080/iindex">인천유나이티드</a>
            <ul>
                <li><a href="http://localhost:8080/ifood">맛집</a></li>
                <li><a href="http://localhost:8080/itour">관광지</a></li>
                <li><a href="http://localhost:8080/ihome">숙소</a></li>
                <li><a href="http://localhost:8080/icourse">코스추천</a></li>
            </ul>
        </li>
        <li>
            <a href="http://localhost:8080/gindex">강원fc</a>
            <ul>
                <li><a href="http://localhost:8080/gfood">맛집</a></li>
                <li><a href="http://localhost:8080/gtour">관광지</a></li>
                <li><a href="http://localhost:8080/ghome">숙소</a></li>
                <li><a href="http://localhost:8080/gcourse">코스추천</a></li>
            </ul>
        </li>
        <li>
            <a href="http://localhost:8080/dindex">대전하나시티즌</a>
            <ul>
                <li><a href="http://localhost:8080/dfood">맛집</a></li>
                <li><a href="http://localhost:8080/dtour">관광지</a></li>
                <li><a href="http://localhost:8080/dhome">숙소</a></li>
                <li><a href="http://localhost:8080/dcourse">코스추천</a></li>
            </ul>
        </li>
        <li>
            <a href="http://localhost:8080/jindex">전북현대</a>
            <ul>
                <li><a href="http://localhost:8080/jfood">맛집</a></li>
                <li><a href="http://localhost:8080/jtour">관광지</a></li>
                <li><a href="http://localhost:8080/jhome">숙소</a></li>
                <li><a href="http://localhost:8080/jcourse">코스추천</a></li>
            </ul>
        </li>
        <li>
            <a href="http://localhost:8080/gjindex">광주fc</a>
            <ul>
                <li><a href="http://localhost:8080/gjfood">맛집</a></li>
                <li><a href="http://localhost:8080/gjtour">관광지</a></li>
                <li><a href="http://localhost:8080/gjhome">숙소</a></li>
                <li><a href="http://localhost:8080/gjcourse">코스추천</a></li>
            </ul>
        </li>
        <li>
            <a href="#">대구fc</a>
            <ul>
                <li><a href="#">맛집</a></li>
                <li><a href="#">관광지</a></li>
                <li><a href="#">숙소</a></li>
                <li><a href="#">코스추천</a></li>
            </ul>
        </li>
        <li>
            <a href="#">포항스틸러스</a>
            <ul>
                <li><a href="#">맛집</a></li>
                <li><a href="#">관광지</a></li>
                <li><a href="#">숙소</a></li>
                <li><a href="#">코스추천</a></li>
            </ul>
        </li>
        <li>
            <a href="#">울산현대</a>
            <ul>
                <li><a href="#">맛집</a></li>
                <li><a href="#">관광지</a></li>
                <li><a href="#">숙소</a></li>
                <li><a href="#">코스추천</a></li>
            </ul>
        </li>
        <li>
            <a href="#">제주유나이티드</a>
            <ul>
                <li><a href="#">맛집</a></li>
                <li><a href="#">관광지</a></li>
                <li><a href="#">숙소</a></li>
                <li><a href="#">코스추천</a></li>
            </ul>
        </li>
    </ul>
</aside>
</body>
</html>
<main class="contents">
    <section id="headling">
        <div class="detail" style="margin: 0 auto; text-align: center;">
            <img src="/assets/img/구룡포일본인가옥거리.jpg" style="display: block; margin: 70px auto 70px auto; width: 1050px; height: 400px; margin-left: auto; margin-right: auto">
            <div class>

                <p>구룡포 일본인 가옥거리는 1883년 조선과 일본이 체결한 조일통상장정 이후 일본인이 조선으로 와서 살았던 곳이다. 일본이 구룡포항을 만들고 동해권역을</p>
                <p>관할하면서 많은 일본인 어부들이 이곳에 정착하여 조선인들의 어업권을 수탈한 아픈 역사의 현장이기도 하다. 현재 이 마을에는 47개의 일본식 목조 건물이</p>
                <p>남아있어 2010년 포항시에서는 역사를 기억하는 산교육장을 만들고자 ‘구룡포 일본인 가옥거리’를 조성하였다. 드라마 촬영지로 사용되어 인기 명소로 자리</p>
                <p>잡았으며 공원 계단에서 내려다본 어촌풍경은 대한민국 경관대상을 받은 곳이기도 하다. 가옥거리 근처에는 과메기 문화관, 구룡포 주상절리 등 다양한 명소</p>
                <p>들이 있다.</p>


            </div>
            <img src="/assets/img/호미곶광장.jpg" style="display: block; margin: 70px auto 70px auto; width: 1050px; height: 400px; margin-left: auto; margin-right: auto">
            <div class>

                <p>호미곶은 한반도의 최동단에 위치, 한반도 지형상 호랑이 꼬리에 해당하는 곳이다. 고산자 김정호는 대동여지도를 만들면서 이곳을 일곱 번이나 답사를해</p>
                <p>측정한 뒤 우리나라의 가장 동쪽임을 확인하였다고 한다. 또한 16세기 조선 명종 때 풍수지리학자인 격암 남사고는 이곳을 우리나라 지형상 호랑이 꼬리에</p>
                <p>해당한다고 기술하면서 천하제일의 명당이라 하였고, 육당 최남선은 백두산 호랑이가 앞발로 연해주를 할퀴는 형상으로 한반도를 묘사하면서 일출제일의</p>
                <p>이곳을 조선십경의 하나로 꼽았다.</p>

            </div>
            <img src="/assets/img/연오랑세오녀.jpg" style="display: block; margin: 70px auto 70px auto; width: 1050px; height: 400px; margin-left: auto; margin-right: auto">
            <div class>

                <p>동해안에서 가볼만한 곳으로 연오랑 세오녀 테마공원은 포항의 해안 도로를 따라 이어지는 길 중간에 위치해 있어서 포항 드라이브 코스로 찾아가는 연인들</p>
                <p>이 많습니다. 이곳에는 큰 전시관이 있는데 여러가지 역사적 전시품들과 영상, 교육, 체험 프로그램이 함께 운영되고 있어 동해 여행 코스로 더욱 특별하게</p>
                <p>만들어줍니다. 즐길거리도 많아 어린이들과 함께해도 좋고 테마공원이 호미반도 둘레길로 이어져 있어서 드라이브 코스로 많은 사람들이 찾는 이유가 되고</p>
                <p>있습니다. 또한 중간중간에 옛 마을을 복원해 놓은 듯한 공간들도 있어 구경하는 즐거움도 있습니다.</p>
            </div>
        </div>
    </section>
</main>