<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>축구 여행 가이드</title>
    <link rel="stylesheet" href="/assets/css/topmenu.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
    <link rel="stylesheet" href="/assets/css/sidemenu.css">
    <link rel="stylesheet" href="/assets/css/box2.css">
    <style>
        body{
            background-image: url(/assets/img/background4.jpg);
            background-size: contain;
        }
    </style>
</head>
<body>
<header class="top-bar con-min-width">
    <h1><span style="color:black">Soccer Tour Guide</span></h1>
    <div class="con">
        <nav class="top-bar__menu-box-1">
            <ul>
                <li>
                    <a href="http://localhost:8080/pfood">맛집</a>
                </li>
                <li>
                    <a href="http://localhost:8080/ptour">관광지</a>
                </li>
                <li>
                    <a href="http://localhost:8080/phome">숙소</a>
                </li>
                <li>
                    <a href="http://localhost:8080/pcourse">코스추천</a>
                </li>
            </ul>
        </nav>
    </div>
</header>

<aside class="side-bar">
    <ul>
        <li>
            <a href="http://localhost:8080/Page">fc서울</a>
            <ul>
                <li><a href="http://localhost:8080/food">맛집</a></li>
                <li><a href="http://localhost:8080/SeoulTour">관광지</a></li>
                <li><a href="http://localhost:8080/SeoulHome">숙소</a></li>
                <li><a href="http://localhost:8080/SeoulCourse">코스추천</a></li>
            </ul>
        </li>
        <li>
            <a href="http://localhost:8080/kindex">김천상무</a>
            <ul>
                <li><a href="http://localhost:8080/kfood">맛집</a></li>
                <li><a href="http://localhost:8080/ktour">관광지</a></li>
                <li><a href="http://localhost:8080/khome">숙소</a></li>
                <li><a href="http://localhost:8080/kcourse">코스추천</a></li>
            </ul>
        </li>
        <li>
            <a href="http://localhost:8080/sindex">수원fc</a>
            <ul>
                <li><a href="http://localhost:8080/sfood">맛집</a></li>
                <li><a href="http://localhost:8080/stour">관광지</a></li>
                <li><a href="http://localhost:8080/shome">숙소</a></li>
                <li><a href="http://localhost:8080/scourse">코스추천</a></li>
            </ul>
        </li>
        <li>
            <a href="http://localhost:8080/iindex">인천유나이티드</a>
            <ul>
                <li><a href="http://localhost:8080/ifood">맛집</a></li>
                <li><a href="http://localhost:8080/itour">관광지</a></li>
                <li><a href="http://localhost:8080/ihome">숙소</a></li>
                <li><a href="http://localhost:8080/icourse">코스추천</a></li>
            </ul>
        </li>
        <li>
            <a href="http://localhost:8080/gindex">강원fc</a>
            <ul>
                <li><a href="http://localhost:8080/gfood">맛집</a></li>
                <li><a href="http://localhost:8080/gtour">관광지</a></li>
                <li><a href="http://localhost:8080/ghome">숙소</a></li>
                <li><a href="http://localhost:8080/gcourse">코스추천</a></li>
            </ul>
        </li>
        <li>
            <a href="http://localhost:8080/dindex">대전하나시티즌</a>
            <ul>
                <li><a href="http://localhost:8080/dfood">맛집</a></li>
                <li><a href="http://localhost:8080/dtour">관광지</a></li>
                <li><a href="http://localhost:8080/dhome">숙소</a></li>
                <li><a href="http://localhost:8080/dcourse">코스추천</a></li>
            </ul>
        </li>
        <li>
            <a href="http://localhost:8080/jindex">전북현대</a>
            <ul>
                <li><a href="http://localhost:8080/jfood">맛집</a></li>
                <li><a href="http://localhost:8080/jtour">관광지</a></li>
                <li><a href="http://localhost:8080/jhome">숙소</a></li>
                <li><a href="http://localhost:8080/jcourse">코스추천</a></li>
            </ul>
        </li>
        <li>
            <a href="http://localhost:8080/gjindex">광주fc</a>
            <ul>
                <li><a href="http://localhost:8080/gjfood">맛집</a></li>
                <li><a href="http://localhost:8080/gjtour">관광지</a></li>
                <li><a href="http://localhost:8080/gjhome">숙소</a></li>
                <li><a href="http://localhost:8080/gjcourse">코스추천</a></li>
            </ul>
        </li>
        <li>
            <a href="http://localhost:8080/dgindex">대구fc</a>
            <ul>
                <li><a href="http://localhost:8080/dgfood">맛집</a></li>
                <li><a href="http://localhost:8080/dgtour">관광지</a></li>
                <li><a href="http://localhost:8080/dghome">숙소</a></li>
                <li><a href="http://localhost:8080/dgcourse">코스추천</a></li>
            </ul>
        </li>
        <li>
            <a href="http://localhost:8080/pindex">포항스틸러스</a>
            <ul>
                <li><a href="http://localhost:8080/pfood">맛집</a></li>
                <li><a href="http://localhost:8080/ptour">관광지</a></li>
                <li><a href="http://localhost:8080/phome">숙소</a></li>
                <li><a href="http://localhost:8080/pcourse">코스추천</a></li>
            </ul>
        </li>
        <li>
            <a href="http://localhost:8080/uindex">울산현대</a>
            <ul>
                <li><a href="http://localhost:8080/ufood">맛집</a></li>
                <li><a href="http://localhost:8080/utour">관광지</a></li>
                <li><a href="http://localhost:8080/uhome">숙소</a></li>
                <li><a href="http://localhost:8080/ucourse">코스추천</a></li>
            </ul>
        </li>
        <li>
            <a href="http://localhost:8080/jeindex">제주유나이티드</a>
            <ul>
                <li><a href="http://localhost:8080/jefood">맛집</a></li>
                <li><a href="http://localhost:8080/jetour">관광지</a></li>
                <li><a href="http://localhost:8080/jehome">숙소</a></li>
                <li><a href="http://localhost:8080/jecourse">코스추천</a></li>
            </ul>
        </li>
    </ul>
</aside>
</body>
</html>
<body>
<div class="container">
    <div class="box box-1"><img src="/assets/img/hotel28.jpg"></div>
    <div class="box box-2">
        <span class="box-content">
            <p><b>브라운도트 호텔</b></p>
            <p><b>* *</b></p>
            <p><b>포항시 북구 삼호로 166-1</b></p>
            <p><b>숙소는 영일대해수욕장에서 1분 거리, 포항 송도해수욕장에서 2.9km 거리에 있습니다. 바다 전망을</b></p>
            <p><b>갖춘 발코니, 숙소의 숙박 옵션에는 비데, 무료 세면도구 등을 갖춘 전용 욕실, 평면 TV, 에어컨이 마</b></p>
            <p><b>련되어 있으며 일부 객실에는 테라스 등이 구비되어 있습니다.</b></p>
            <p><b>Wifi 무료</b></p>
        </span>
    </div>
    <div class="box box-3"><b><p>119,000원</p></b></div>
</div>

<div class="container">
    <div class="box box-1"><img src="/assets/img/hotel29.jpg"></div>
    <div class="box box-2">
        <span class="box-content">
            <p>라한 호텔</b></p>
            <p><b>* * *</b></p>
            <p><b>포항시 북구 삼호로265번길 1</b></p>
             <p><b>라한호텔 포항은 동해 조망권을 갖추고 있으며, 영일대해수욕장는 도보로 약 5분, 포항 여객선 터미</b></p>
             <p><b>널과 영일만 관광 유람 선착장은 도보로 약 20분이면 갈 수 있습니다. 호텔에는 비즈니스 센터와 연</b></p>
             <p><b>회장이 마련되어 있으며 오전에는 조식 뷔페를, 점심 저녁에는 모임과 행사 장소로 사용 가능합니다.</b></p>
            <p><b>Wifi 무료</b></p>
        </span>
    </div>
    <div class="box box-3"><b><p>148,758원</p></b></div>
</div>

<div class="container">
    <div class="box box-1"><img src="/assets/img/hotel30.jpg"></div>
    <div class="box box-2">
        <span class="box-content">
            <p><b>포항 에이원 호텔</b></p>
            <p><b>* * *</b></p>
            <p><b>포항 남구 중앙로 140</b></p>
            <p><b>숙소는 포항 송도해수욕장에서 2.1km, 경주월드에서 31km 거리에 있습니다. 호텔에는 에어컨, 무료</b></p>
            <p><b>wi-fi가 완비된 객실과 레스토랑 등을 제공합니다. 각 객실에는 전용 욕실이 마련되어 있습니다. 구내</b></p>
            <p><b>에는 전용 주차장이 마련되어 있습니다.</b></p>
            <p><b>Wifi 무료</b></p>
        </span>
    </div>
    <div class="box box-3"><b><p>83,000원</p></b></div>
</div>
</body>