<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>축구 여행 가이드</title>
    <link rel="stylesheet" href="/assets/css/topmenu.css">
    <link rel="stylesheet" href="/assets/css/http_cdnjs.cloudflare.com_ajax_libs_font-awesome_6.4.0_css_all.css">
    <link rel="stylesheet" href="/assets/css/sidemenu.css">
    <style>
        body{
            background-image: url(/assets/img/background4.jpg);
            background-size: contain;
        }
    </style>
</head>
<body>
<header class="top-bar con-min-width">
    <h1><span style="color:black">Soccer Tour Guide</span></h1>
</header>

<aside class="side-bar">
    <ul>
        <li>
            <a href="http://localhost:8080/Page">fc서울</a>
            <ul>
                <li><a href="http://localhost:8080/food">맛집</a></li>
                <li><a href="http://localhost:8080/SeoulTour">관광지</a></li>
                <li><a href="http://localhost:8080/SeoulHome">숙소</a></li>
                <li><a href="http://localhost:8080/SeoulCourse">코스추천</a></li>
            </ul>
        </li>
        <li>
            <a href="http://localhost:8080/kindex">김천상무</a>
            <ul>
                <li><a href="http://localhost:8080/kfood">맛집</a></li>
                <li><a href="http://localhost:8080/ktour">관광지</a></li>
                <li><a href="http://localhost:8080/khome">숙소</a></li>
                <li><a href="http://localhost:8080/kcourse">코스추천</a></li>
            </ul>
        </li>
        <li>
            <a href="http://localhost:8080/sindex">수원fc</a>
            <ul>
                <li><a href="http://localhost:8080/sfood">맛집</a></li>
                <li><a href="http://localhost:8080/stour">관광지</a></li>
                <li><a href="http://localhost:8080/shome">숙소</a></li>
                <li><a href="http://localhost:8080/scourse">코스추천</a></li>
            </ul>
        </li>
        <li>
            <a href="http://localhost:8080/iindex">인천유나이티드</a>
            <ul>
                <li><a href="http://localhost:8080/ifood">맛집</a></li>
                <li><a href="http://localhost:8080/itour">관광지</a></li>
                <li><a href="http://localhost:8080/ihome">숙소</a></li>
                <li><a href="http://localhost:8080/icourse">코스추천</a></li>
            </ul>
        </li>
        <li>
            <a href="http://localhost:8080/gindex">강원fc</a>
            <ul>
                <li><a href="http://localhost:8080/gfood">맛집</a></li>
                <li><a href="http://localhost:8080/gtour">관광지</a></li>
                <li><a href="http://localhost:8080/ghome">숙소</a></li>
                <li><a href="http://localhost:8080/gcourse">코스추천</a></li>
            </ul>
        </li>
        <li>
            <a href="http://localhost:8080/dindex">대전하나시티즌</a>
            <ul>
                <li><a href="http://localhost:8080/dfood">맛집</a></li>
                <li><a href="http://localhost:8080/dtour">관광지</a></li>
                <li><a href="http://localhost:8080/dhome">숙소</a></li>
                <li><a href="http://localhost:8080/dcourse">코스추천</a></li>
            </ul>
        </li>
        <li>
            <a href="http://localhost:8080/jindex">전북현대</a>
            <ul>
                <li><a href="http://localhost:8080/jfood">맛집</a></li>
                <li><a href="http://localhost:8080/jtour">관광지</a></li>
                <li><a href="http://localhost:8080/jhome">숙소</a></li>
                <li><a href="http://localhost:8080/jcourse">코스추천</a></li>
            </ul>
        </li>
        <li>
            <a href="http://localhost:8080/gjindex">광주fc</a>
            <ul>
                <li><a href="http://localhost:8080/gjfood">맛집</a></li>
                <li><a href="http://localhost:8080/gjtour">관광지</a></li>
                <li><a href="http://localhost:8080/gjhome">숙소</a></li>
                <li><a href="http://localhost:8080/gjcourse">코스추천</a></li>
            </ul>
        </li>
        <li>
            <a href="http://localhost:8080/dgindex">대구fc</a>
            <ul>
                <li><a href="http://localhost:8080/dgfood">맛집</a></li>
                <li><a href="http://localhost:8080/dgtour">관광지</a></li>
                <li><a href="http://localhost:8080/dghome">숙소</a></li>
                <li><a href="http://localhost:8080/dgcourse">코스추천</a></li>
            </ul>
        </li>
        <li>
            <a href="http://localhost:8080/pindex">포항스틸러스</a>
            <ul>
                <li><a href="http://localhost:8080/pfood">맛집</a></li>
                <li><a href="http://localhost:8080/ptour">관광지</a></li>
                <li><a href="http://localhost:8080/phome">숙소</a></li>
                <li><a href="http://localhost:8080/pcourse">코스추천</a></li>
            </ul>
        </li>
        <li>
            <a href="http://localhost:8080/uindex">울산현대</a>
            <ul>
                <li><a href="http://localhost:8080/ufood">맛집</a></li>
                <li><a href="http://localhost:8080/utour">관광지</a></li>
                <li><a href="http://localhost:8080/uhome">숙소</a></li>
                <li><a href="http://localhost:8080/ucourse">코스추천</a></li>
            </ul>
        </li>
        <li>
            <a href="http://localhost:8080/jeindex">제주유나이티드</a>
            <ul>
                <li><a href="http://localhost:8080/jefood">맛집</a></li>
                <li><a href="http://localhost:8080/jetour">관광지</a></li>
                <li><a href="http://localhost:8080/jehome">숙소</a></li>
                <li><a href="http://localhost:8080/jecourse">코스추천</a></li>
            </ul>
        </li>
    </ul>
</aside>

<div id="map" style="width:800px;height:600px; margin: 0 auto;"></div>
<script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=f5b93b38400f8a439279bddc0851658c"></script>
<script>
    var container = document.getElementById('map');
    var options = {
        center: new kakao.maps.LatLng(37.5682617, 126.8972735),
        level: 5
    };

    var map = new kakao.maps.Map(container, options);

    // 마커를 표시할 위치와 내용을 가지고 있는 객체 배열입니다
    var positions = [
        {
            content: '<div>상암월드컵경기장</div>',
            latlng: new kakao.maps.LatLng(37.5682617, 126.8972735)
        },
        {
            content: '<div>하늘공원</div>',
            latlng: new kakao.maps.LatLng(37.5677554, 126.8856819)
        },
        {
            content: '<div>성산왕갈비</div>',
            latlng: new kakao.maps.LatLng(37.5696765, 126.9030875)
        },
        {
            content: '<div>한국영화박물관</div>',
            latlng: new kakao.maps.LatLng(37.5804334, 126.8894764)
        },
        {
            content: '<div>도야지</div>',
            latlng: new kakao.maps.LatLng(37.5656965, 126.9032843)
        },
        {
            content: '<div>상암MBC신사옥</div>',
            latlng: new kakao.maps.LatLng(37.5811662, 126.8907777)
        },
        {
            content: '<div>인칸토키친</div>',
            latlng: new kakao.maps.LatLng(37.5770598, 126.8913944)
        }

    ];

    for (var i = 0; i < positions.length; i ++) {
        // 마커를 생성합니다
        var marker = new kakao.maps.Marker({
            map: map, // 마커를 표시할 지도
            position: positions[i].latlng // 마커의 위치
        });

        // 마커에 표시할 인포윈도우를 생성합니다
        var infowindow = new kakao.maps.InfoWindow({
            content: positions[i].content // 인포윈도우에 표시할 내용
        });

        // 마커에 mouseover 이벤트와 mouseout 이벤트를 등록합니다
        // 이벤트 리스너로는 클로저를 만들어 등록합니다
        // for문에서 클로저를 만들어 주지 않으면 마지막 마커에만 이벤트가 등록됩니다
        kakao.maps.event.addListener(marker, 'mouseover', makeOverListener(map, marker, infowindow));
        kakao.maps.event.addListener(marker, 'mouseout', makeOutListener(infowindow));
    }

    // 인포윈도우를 표시하는 클로저를 만드는 함수입니다
    function makeOverListener(map, marker, infowindow) {
        return function() {
            infowindow.open(map, marker);
        };
    }

    // 인포윈도우를 닫는 클로저를 만드는 함수입니다
    function makeOutListener(infowindow) {
        return function() {
            infowindow.close();
        };
    }

    var linePath = [
        new kakao.maps.LatLng(37.5677554, 126.8856819),
        new kakao.maps.LatLng(37.5682617, 126.8972735),
        new kakao.maps.LatLng(37.5696765, 126.9030875)
    ];
    var linePath2 = [
        new kakao.maps.LatLng(37.5804334, 126.8894764),
        new kakao.maps.LatLng(37.5682617, 126.8972735),
        new kakao.maps.LatLng(37.5656965, 126.9032843)
    ];
    var linePath3 = [
        new kakao.maps.LatLng(37.5770598, 126.8913944),
        new kakao.maps.LatLng(37.5811662, 126.8907777),
        new kakao.maps.LatLng(37.5682617, 126.8972735)
    ];


    // 지도에 표시할 선을 생성합니다
    var polyline = new kakao.maps.Polyline({
        path: linePath, // 선을 구성하는 좌표배열 입니다
        strokeWeight: 5, // 선의 두께 입니다
        strokeColor: '#FFAE00', // 선의 색깔입니다
        strokeOpacity: 0.7, // 선의 불투명도 입니다 1에서 0 사이의 값이며 0에 가까울수록 투명합니다
        strokeStyle: 'solid' // 선의 스타일입니다
    });

    var polyline2 = new kakao.maps.Polyline({
        path: linePath2, // 선을 구성하는 좌표배열 입니다
        strokeWeight: 5, // 선의 두께 입니다
        strokeColor: '#75B8FA', // 선의 색깔입니다
        strokeOpacity: 0.7, // 선의 불투명도 입니다 1에서 0 사이의 값이며 0에 가까울수록 투명합니다
        strokeStyle: 'solid' // 선의 스타일입니다
    });

    var polyline3 = new kakao.maps.Polyline({
        path: linePath3, // 선을 구성하는 좌표배열 입니다
        strokeWeight: 5, // 선의 두께 입니다
        strokeColor: '#FF3DE5', // 선의 색깔입니다
        strokeOpacity: 0.7, // 선의 불투명도 입니다 1에서 0 사이의 값이며 0에 가까울수록 투명합니다
        strokeStyle: 'solid' // 선의 스타일입니다
    });

    // 지도에 선을 표시합니다
    polyline.setMap(map);
    polyline2.setMap(map);
    polyline3.setMap(map);

</script>

<div style="border: 1px solid black; padding: 10px; margin: 50px auto; align-content: center; width: 700px;">
    <div style="margin: 0 auto; align-content: center; text-align: justify;">
        <b style="color: #FFAE00">1. 하늘공원 -> 상암월드컵경기장 -> 성산왕갈비</b>
        <p>저녁에 시작하는 경기전 상암의 명소중 하나인 하늘공원을 걸어보는 것도 나쁘지 않다. 억새 식재지-순초지-암석원-혼생초지-해바라기 식재지 등</p>
        <p>테마별로 구성되어 있습니다. 하늘공원 산책이 끝난후 경기장으로 돌아가 경기를 관람후 숨은 갈비 맛집인 성산왕갈비 식당을 방문해 식사를 합니다.</p>
        <p>그런 다음 숙소로 돌아갑니다.</p>
    </div>
</div>

<div style="border: 1px solid black; padding: 10px; margin: 50px auto; align-content: center; width: 700px;">
    <div style="margin: 0 auto; align-content: center; text-align: justify;">
        <b style="color: #75B8FA">2. 한국영화박물관 -> 상암월드컵경기장 -> 도야지</b>
        <p>저녁에 시작하는 경기전 한국 영화 박물관을 방문해 한국 역사의 인기있는 영화들과 100년이 넘는 한국영화의 역사를 소개하고 있습니다. </p>
        <p>박물관 관람이 끝난후 경기장으로 이동해 경기를 관람후 고기 식당인 도야지를 방문합니다. 홀이 넓직해서 여럿이 와서 식사하기도 좋고</p>
        <p>고기를 직접 구워 주시기 때문에 편하게 식사하실 수 있습니다. 식사후 숙소로 돌아갑니다.</p>
    </div>
</div>

<div style="border: 1px solid black; padding: 10px; margin: 50px auto; align-content: center; width: 700px;">
    <div style="margin: 0 auto; align-content: center; text-align: justify;">
        <b style="color: #FF3DE5">3. 인칸토키친 -> 상암MBC신사옥 -> 상암월드컵경기장</b>
        <p>상암하면 빼놓을 수 없는 방송국이 있다. 특히 신사옥 앞 조형물은 영화에도 등장할 정도로 유명하다. 방송국 구경과 사진을 찍고 </p>
        <p>월드컵 경기장으로 이동한 후 경기 관람후 인칸토 키친으로 이동해 식사를 합니다. 분위기 좋은 파스타 맛집으로 코스가 또한</p>
        <p>가성비가 좋아 많이 찾습니다. 식사를 마친후 숙소로 돌아갑니다.</p>
    </div>
</div>

</body>
</html>