<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>축구 여행 가이드</title>
    <link rel="stylesheet" href="/assets/css/topmenu.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
    <link rel="stylesheet" href="/assets/css/sidemenu.css">
    <link rel="stylesheet" href="/assets/css/box.css">
    <style>
        body{
            background-image: url(/assets/img/background4.jpg);
            background-size: contain;
        }
    </style>
</head>
<body>
<header class="top-bar con-min-width">
    <h1><span style="color:black">Soccer Tour Guide</span></h1>
    <div class="con">
        <nav class="top-bar__menu-box-1">
            <ul>
                <li>
                    <a href="http://localhost:8080/food">맛집</a>
                </li>
                <li>
                    <a href="http://localhost:8080/SeoulTour">관광지</a>
                </li>
                <li>
                    <a href="http://localhost:8080/SeoulHome">숙소</a>
                </li>
                <li>
                    <a href="http://localhost:8080/SeoulCourse">코스추천</a>
                </li>
            </ul>
        </nav>
    </div>
</header>

<aside class="side-bar">
    <ul>
        <li>
            <a href="http://localhost:8080/Page">fc서울</a>
            <ul>
                <li><a href="http://localhost:8080/food">맛집</a></li>
                <li><a href="http://localhost:8080/SeoulTour">관광지</a></li>
                <li><a href="http://localhost:8080/SeoulHome">숙소</a></li>
                <li><a href="http://localhost:8080/SeoulCourse">코스추천</a></li>
            </ul>
        </li>
        <li>
            <a href="http://localhost:8080/kindex">김천상무</a>
            <ul>
                <li><a href="http://localhost:8080/kfood">맛집</a></li>
                <li><a href="http://localhost:8080/ktour">관광지</a></li>
                <li><a href="http://localhost:8080/khome">숙소</a></li>
                <li><a href="http://localhost:8080/kcourse">코스추천</a></li>
            </ul>
        </li>
        <li>
            <a href="#">수원fc</a>
            <ul>
                <li><a href="#">맛집</a></li>
                <li><a href="#">관광지</a></li>
                <li><a href="#">숙소</a></li>
                <li><a href="#">코스추천</a></li>
            </ul>
        </li>
        <li>
            <a href="#">인천유나이티드</a>
            <ul>
                <li><a href="#">맛집</a></li>
                <li><a href="#">관광지</a></li>
                <li><a href="#">숙소</a></li>
                <li><a href="#">코스추천</a></li>
            </ul>
        </li>
        <li>
            <a href="#">강원fc</a>
            <ul>
                <li><a href="#">맛집</a></li>
                <li><a href="#">관광지</a></li>
                <li><a href="#">숙소</a></li>
                <li><a href="#">코스추천</a></li>
            </ul>
        </li>
        <li>
            <a href="#">대전하나시티즌</a>
            <ul>
                <li><a href="#">맛집</a></li>
                <li><a href="#">관광지</a></li>
                <li><a href="#">숙소</a></li>
                <li><a href="#">코스추천</a></li>
            </ul>
        </li>
        <li>
            <a href="#">전북현대</a>
            <ul>
                <li><a href="#">맛집</a></li>
                <li><a href="#">관광지</a></li>
                <li><a href="#">숙소</a></li>
                <li><a href="#">코스추천</a></li>
            </ul>
        </li>
        <li>
            <a href="#">광주fc</a>
            <ul>
                <li><a href="#">맛집</a></li>
                <li><a href="#">관광지</a></li>
                <li><a href="#">숙소</a></li>
                <li><a href="#">코스추천</a></li>
            </ul>
        </li>
        <li>
            <a href="#">대구fc</a>
            <ul>
                <li><a href="#">맛집</a></li>
                <li><a href="#">관광지</a></li>
                <li><a href="#">숙소</a></li>
                <li><a href="#">코스추천</a></li>
            </ul>
        </li>
        <li>
            <a href="#">포항스틸러스</a>
            <ul>
                <li><a href="#">맛집</a></li>
                <li><a href="#">관광지</a></li>
                <li><a href="#">숙소</a></li>
                <li><a href="#">코스추천</a></li>
            </ul>
        </li>
        <li>
            <a href="#">울산현대</a>
            <ul>
                <li><a href="#">맛집</a></li>
                <li><a href="#">관광지</a></li>
                <li><a href="#">숙소</a></li>
                <li><a href="#">코스추천</a></li>
            </ul>
        </li>
        <li>
            <a href="#">제주유나이티드</a>
            <ul>
                <li><a href="#">맛집</a></li>
                <li><a href="#">관광지</a></li>
                <li><a href="#">숙소</a></li>
                <li><a href="#">코스추천</a></li>
            </ul>
        </li>
    </ul>
</aside>
</body>
</html>
<main class="contents">
    <section id="headling">
        <div class="detail" style="margin: 0 auto; text-align: center;">
            <img src="/assets/img/skypark.jpg" style="display: block; margin: 70px auto 70px auto; width: 1050px; height: 400px; margin-left: auto; margin-right: auto">
            <div class>

                <p>5만 8000평의 면적을 가졌으며 2002년 제17회 월드컵을 기념해 도시의 생활폐기물로 오염된 난지도 쓰레기매립장을 자연생태계로 복원하기 위해 1999년 </p>
                <p>10월부터 사업에 들어가 2002년 5월 1일 개원하였다. 평화공원.난지천공원.난지한강공원.노을공원과 함께 월드컵경기장 주변의 5대공원을 이룬다. 생태환경을</p>
                <p>복원할 목적으로 조성되었기 때문에 인공적인 편의시설은 거의 없고 간이상점도 없어 음료수나 간식은 미리 준비해야 한다. 가는 길은 월드컵경기장 평화공원에서</p>
                <p>월드컵공원 육교를 건너 환경친화적인 통나무 원목으로 만든 계단을 통하거나, 월드컵경기장과 하늘공원 사이를 순환하는 셔틀버스를 통하는 2가지 방법이 있다.</p>

            </div>
            <img src="/assets/img/moviecenter.jpg" style="display: block; margin: 70px auto 70px auto; width: 1050px; height: 400px; margin-left: auto; margin-right: auto">
            <div class>

                <p>상암 디지털 미디어 시티역 근처에 있는 한국 영화 박물관으로 한국 영화에 역사를 간직하고 보여주는 박물관이다. 현재 입장료는 무료로 되어있으며 매번</p>
                <p>바뀌는 기획 전시로 보는 즐거움을 선사하여 다시 방문하고 싶게 만든다. 다양한 장르의 영화와 독립영화 등을 무료로 즐길 수 있는 시네마테크와 비디오부터</p>
                <p>DVD까지 감상 가능한 영상 도서관도 준비되어 있다. 한국 영화 박물관 상설전시는 한국영화 100여년의 역사를 정리한 섹션과 19세기 후반 영화의 탄생 과정과</p>
                <p>당시의 영화인들을 다룬 섹션으로 크게 나누어 전시가 진행중이다. 실제 카메라나 의상 소품등의 전시와 체험할 수 있는 거리도 많아 재밌게 관람할 수 있다.</p>

            </div>
            <img src="/assets/img/MBC.jpg" style="display: block; margin: 70px auto 70px auto; width: 1050px; height: 400px; margin-left: auto; margin-right: auto">
            <div class>

                <p>수색역으로 나오면 상암 문화 광장에 있는 건물들이 한눈에 보이는데 거기서 MBC 신사옥을 쉽게 찾아 볼 수 있다. 어벤져스2 촬영지로 나왔었던 곳인데</p>
                <p>거기서는 MBC의 상징 조형물인 미러맨 역시 눈길을 끈다. 거울 앞에 있는 것 처럼 서로 마주하고 있는 미러맨은 '그리팅맨'의 작가인 유영호 작가의 작품이다.</p>
                <p>현재 많은 예능들로 사랑 받고 있는 MBC답게 건물 안으로 들어가면 현재 방송중인 대표 예능들의 포스터들을 확인해 볼 수 있다. 또 안에는 체험존과 카페도</p>
                <p>운영중으로 간단히 구경 후 카페에서 디저트와 차 한잔 마시며 한국 예능들에 대해 이야기 해보는 것도 재밌는 관광 요소가 될 수 있지 않을까 생각한다.</p>
            </div>
        </div>
    </section>
</main>