<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>축구 여행 가이드</title>
    <link rel="stylesheet" href="/assets/css/topmenu.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
    <link rel="stylesheet" href="/assets/css/sidemenu.css">
    <link rel="stylesheet" href="/assets/css/box.css">
    <style>
        body{
            background-image: url(/assets/img/background4.jpg);
            background-size: contain;
        }
    </style>
</head>
<body>
<header class="top-bar con-min-width">
    <h1><span style="color:black">Soccer Tour Guide</span></h1>
    <div class="con">
        <nav class="top-bar__menu-box-1">
            <ul>
                <li>
                    <a href="http://localhost:8080/sfood">맛집</a>
                </li>
                <li>
                    <a href="http://localhost:8080/stour">관광지</a>
                </li>
                <li>
                    <a href="http://localhost:8080/shome">숙소</a>
                </li>
                <li>
                    <a href="http://localhost:8080/scourse">코스추천</a>
                </li>
            </ul>
        </nav>
    </div>
</header>

<aside class="side-bar">
    <ul>
        <li>
            <a href="http://localhost:8080/Page">fc서울</a>
            <ul>
                <li><a href="http://localhost:8080/food">맛집</a></li>
                <li><a href="http://localhost:8080/SeoulTour">관광지</a></li>
                <li><a href="http://localhost:8080/SeoulHome">숙소</a></li>
                <li><a href="http://localhost:8080/SeoulCourse">코스추천</a></li>
            </ul>
        </li>
        <li>
            <a href="http://localhost:8080/kindex">김천상무</a>
            <ul>
                <li><a href="http://localhost:8080/kfood">맛집</a></li>
                <li><a href="http://localhost:8080/ktour">관광지</a></li>
                <li><a href="http://localhost:8080/khome">숙소</a></li>
                <li><a href="http://localhost:8080/kcourse">코스추천</a></li>
            </ul>
        </li>
        <li>
            <a href="http://localhost:8080/sindex">수원fc</a>
            <ul>
                <li><a href="http://localhost:8080/sfood">맛집</a></li>
                <li><a href="http://localhost:8080/stour">관광지</a></li>
                <li><a href="http://localhost:8080/shome">숙소</a></li>
                <li><a href="http://localhost:8080/scourse">코스추천</a></li>
            </ul>
        </li>
        <li>
            <a href="http://localhost:8080/iindex">인천유나이티드</a>
            <ul>
                <li><a href="http://localhost:8080/ifood">맛집</a></li>
                <li><a href="http://localhost:8080/itour">관광지</a></li>
                <li><a href="http://localhost:8080/ihome">숙소</a></li>
                <li><a href="http://localhost:8080/icourse">코스추천</a></li>
            </ul>
        </li>
        <li>
            <a href="http://localhost:8080/gindex">강원fc</a>
            <ul>
                <li><a href="http://localhost:8080/gfood">맛집</a></li>
                <li><a href="http://localhost:8080/gtour">관광지</a></li>
                <li><a href="http://localhost:8080/ghome">숙소</a></li>
                <li><a href="http://localhost:8080/gcourse">코스추천</a></li>
            </ul>
        </li>
        <li>
            <a href="#">대전하나시티즌</a>
            <ul>
                <li><a href="#">맛집</a></li>
                <li><a href="#">관광지</a></li>
                <li><a href="#">숙소</a></li>
                <li><a href="#">코스추천</a></li>
            </ul>
        </li>
        <li>
            <a href="#">전북현대</a>
            <ul>
                <li><a href="#">맛집</a></li>
                <li><a href="#">관광지</a></li>
                <li><a href="#">숙소</a></li>
                <li><a href="#">코스추천</a></li>
            </ul>
        </li>
        <li>
            <a href="#">광주fc</a>
            <ul>
                <li><a href="#">맛집</a></li>
                <li><a href="#">관광지</a></li>
                <li><a href="#">숙소</a></li>
                <li><a href="#">코스추천</a></li>
            </ul>
        </li>
        <li>
            <a href="#">대구fc</a>
            <ul>
                <li><a href="#">맛집</a></li>
                <li><a href="#">관광지</a></li>
                <li><a href="#">숙소</a></li>
                <li><a href="#">코스추천</a></li>
            </ul>
        </li>
        <li>
            <a href="#">포항스틸러스</a>
            <ul>
                <li><a href="#">맛집</a></li>
                <li><a href="#">관광지</a></li>
                <li><a href="#">숙소</a></li>
                <li><a href="#">코스추천</a></li>
            </ul>
        </li>
        <li>
            <a href="#">울산현대</a>
            <ul>
                <li><a href="#">맛집</a></li>
                <li><a href="#">관광지</a></li>
                <li><a href="#">숙소</a></li>
                <li><a href="#">코스추천</a></li>
            </ul>
        </li>
        <li>
            <a href="#">제주유나이티드</a>
            <ul>
                <li><a href="#">맛집</a></li>
                <li><a href="#">관광지</a></li>
                <li><a href="#">숙소</a></li>
                <li><a href="#">코스추천</a></li>
            </ul>
        </li>
    </ul>
</aside>
</body>
</html>
<main class="contents">
    <section id="headling">
        <div class="detail" style="margin: 0 auto; text-align: center;">
            <img src="/assets/img/수원화성.jpg" style="display: block; margin: 70px auto 70px auto; width: 1050px; height: 400px; margin-left: auto; margin-right: auto">
            <div class>

                <p>수원화성은 경기도 수원시 팔달구에 있는 조선시대의 성곽으로 정식 명칭으로는 화성(華城), 별칭으로는 수원성(水原城)으로 불린다. 1997년 12월 유네스코 </p>
                <p>세계문화유산에 등재되었다. 성벽을 따라 산책로가 매우 잘 조성되어 있어 걸어서 관람도 가능하다. 길을 걸으면서 보이는 경치나 소소한 볼거리도 훌륭한</p>
                <p>편이며 화서문-장안문-화홍문-방화수류정-동장대(국궁터)까지 이르는 성벽길은 조명도 괜찮게 해놓아서 해진 저녁에 연인과 분위기를 잡기 좋은 코스이다.</p>
                <p>화홍문 옆의 호수인 용연 옆 언덕 위에 있는 방화수류정은 수원에서 숨겨진 데이트 핫플레이스이고 관람료는 2022년 4월 7일자로 무료가 되었다.</p>

            </div>
            <img src="/assets/img/광교호수공원.jpg" style="display: block; margin: 70px auto 70px auto; width: 1050px; height: 400px; margin-left: auto; margin-right: auto">
            <div class>

                <p>광교호수공원은 광교산과 원천저수지 및 신대저수지의 자연을 최대한 보존하며 아름다운 수변공간인 어반레비와 함께 6개의 테마를 가진 둠벙으로</p>
                <p>여러가지 새로운 문화를 담은 국내 최대의 도심 속 호수공원이다. 광교호수공원에서 가장 핵심적인 공간은 어반레비이다. 어반레비와 함께 '신비한 물너미'</p>
                <p>'재미난 밭', '신대호수 먼섬숲', '커뮤니티숲(다목적체험장)', '행복한 들', '조용한 물숲, 향긋한 꽃섬' 등 6개 테마로 구성되어 있다. 호수를 따라 산책로와</p>
                <p>자전거도로가 조성되어 있는데, 원천호수는 3km, 신대호스는 3.5km로 어디로 가든지 원점으로 되돌아온다. 주차장도 3개가 운영중이며 2,3 주차장은 무료로 운영중이다.</p>

            </div>
            <img src="/assets/img/월화원.jpg" style="display: block; margin: 70px auto 70px auto; width: 1050px; height: 400px; margin-left: auto; margin-right: auto">
            <div class>

                <p>수원시 팔달구 효원공원 안에 있는 1,820평 규모의 중국 전통정원이다. 중국식 정원으로서 광둥 지역 전통 정원의 특색을 살려 건물과 정원이 조화를 이룰</p>
                <p>수 있도록 설계되었다. 주차장은 월화원 앞에 위치한 경기 아트센터 주차장을 이용하고 15분까지 무료로 이용할 수 있습니다. 국내에서 드라마 촬영지로</p>
                <p>유명하며 공간들이 특색있게 잘 꾸며져 있어 중국여행 온 것 같은 느낌을 받을 수 있습니다. 정원을 짓는 것도 중국 노동자들이 직접 지어 더욱 중국스러움이</p>
                <p>느껴집니다. 안에는 몇 개의 건물과 정자 그리고 인공 호수, 흙으로 만든 가산이 있습니다. 해외여행을 온듯한 느낌으로 드라이브 코스로 인기가 많습니다.</p>
            </div>
        </div>
    </section>
</main>