<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/assets/css/topmenu.css">
    <link rel="stylesheet" href="/assets/css/sidemenu.css">
    <link rel="stylesheet" href="/assets/css/slide.css">
    <link rel="stylesheet" href="/assets/js/script.js">
    <link rel="stylesheet" href="/assets/css/sitebox.css">
    <style>
        .container {
            display: flex;
            align-items: center;
        }

        .text {
            margin-right: 10px; /* 텍스트와 버튼 간의 간격을 조절합니다. */
        }

        .button {
            padding: 5px 10px;
            background-color: #3498db;
            color: #fff;
            border: none;
            border-radius: 5px;
            cursor: pointer;
        }

        <!--
        body {
            background-image: url(/assets/img/background4.jpg);
            background-size: contain;
        }

        table {
            width: 40%;
            height: 40%;
            border: 1px solid #444444;
            border-radius: 10px;
            text-align: center;
        }
        #map {
            margin-right: 30px;
            float: right;
        }

        -->
    </style>
    <title></title>
</head>
<body>
<header class="top-bar con-min-width">
    <h1><span style="color:black">Soccer Tour Guide</span></h1>
    <div class="con">
        <nav class="top-bar__menu-box-1">
            <ul>
                <li>
                    <a href="http://localhost:8080/sfood">맛집</a>
                </li>
                <li>
                    <a href="http://localhost:8080/stour">관광지</a>
                </li>
                <li>
                    <a href="http://localhost:8080/shome">숙소</a>
                </li>
                <li>
                    <a href="http://localhost:8080/scourse">코스추천</a>
                </li>
            </ul>
        </nav>
    </div>
</header>
<aside class="side-bar">

    <ul>
        <li>
            <a href="http://localhost:8080/Page">fc서울</a>
            <ul>
                <li><a href="http://localhost:8080/food">맛집</a></li>
                <li><a href="http://localhost:8080/SeoulTour">관광지</a></li>
                <li><a href="http://localhost:8080/SeoulHome">숙소</a></li>
                <li><a href="http://localhost:8080/SeoulCourse">코스추천</a></li>
            </ul>
        </li>
        <li>
            <a href="http://localhost:8080/kindex">김천상무</a>
            <ul>
                <li><a href="http://localhost:8080/kfood">맛집</a></li>
                <li><a href="http://localhost:8080/ktour">관광지</a></li>
                <li><a href="http://localhost:8080/khome">숙소</a></li>
                <li><a href="http://localhost:8080/kcourse">코스추천</a></li>
            </ul>
        </li>
        <li>
            <a href="http://localhost:8080/sindex">수원fc</a>
            <ul>
                <li><a href="http://localhost:8080/sfood">맛집</a></li>
                <li><a href="http://localhost:8080/stour">관광지</a></li>
                <li><a href="http://localhost:8080/shome">숙소</a></li>
                <li><a href="http://localhost:8080/scourse">코스추천</a></li>
            </ul>
        </li>
        <li>
            <a href="http://localhost:8080/iindex">인천유나이티드</a>
            <ul>
                <li><a href="http://localhost:8080/ifood">맛집</a></li>
                <li><a href="http://localhost:8080/itour">관광지</a></li>
                <li><a href="http://localhost:8080/ihome">숙소</a></li>
                <li><a href="http://localhost:8080/icourse">코스추천</a></li>
            </ul>
        </li>
        <li>
            <a href="http://localhost:8080/gindex">강원fc</a>
            <ul>
                <li><a href="http://localhost:8080/gfood">맛집</a></li>
                <li><a href="http://localhost:8080/gtour">관광지</a></li>
                <li><a href="http://localhost:8080/ghome">숙소</a></li>
                <li><a href="http://localhost:8080/gcourse">코스추천</a></li>
            </ul>
        </li>
        <li>
            <a href="http://localhost:8080/dindex">대전하나시티즌</a>
            <ul>
                <li><a href="http://localhost:8080/dfood">맛집</a></li>
                <li><a href="http://localhost:8080/dtour">관광지</a></li>
                <li><a href="http://localhost:8080/dhome">숙소</a></li>
                <li><a href="http://localhost:8080/dcourse">코스추천</a></li>
            </ul>
        </li>
        <li>
            <a href="http://localhost:8080/jindex">전북현대</a>
            <ul>
                <li><a href="http://localhost:8080/jfood">맛집</a></li>
                <li><a href="http://localhost:8080/jtour">관광지</a></li>
                <li><a href="http://localhost:8080/jhome">숙소</a></li>
                <li><a href="http://localhost:8080/jcourse">코스추천</a></li>
            </ul>
        </li>
        <li>
            <a href="http://localhost:8080/gjindex">광주fc</a>
            <ul>
                <li><a href="http://localhost:8080/gjfood">맛집</a></li>
                <li><a href="http://localhost:8080/gjtour">관광지</a></li>
                <li><a href="http://localhost:8080/gjhome">숙소</a></li>
                <li><a href="http://localhost:8080/gjcourse">코스추천</a></li>
            </ul>
        </li>
        <li>
            <a href="http://localhost:8080/dgindex">대구fc</a>
            <ul>
                <li><a href="http://localhost:8080/dgfood">맛집</a></li>
                <li><a href="http://localhost:8080/dgtour">관광지</a></li>
                <li><a href="http://localhost:8080/dghome">숙소</a></li>
                <li><a href="http://localhost:8080/dgcourse">코스추천</a></li>
            </ul>
        </li>
        <li>
            <a href="http://localhost:8080/pindex">포항스틸러스</a>
            <ul>
                <li><a href="http://localhost:8080/pfood">맛집</a></li>
                <li><a href="http://localhost:8080/ptour">관광지</a></li>
                <li><a href="http://localhost:8080/phome">숙소</a></li>
                <li><a href="http://localhost:8080/pcourse">코스추천</a></li>
            </ul>
        </li>
        <li>
            <a href="http://localhost:8080/uindex">울산현대</a>
            <ul>
                <li><a href="http://localhost:8080/ufood">맛집</a></li>
                <li><a href="http://localhost:8080/utour">관광지</a></li>
                <li><a href="http://localhost:8080/uhome">숙소</a></li>
                <li><a href="http://localhost:8080/ucourse">코스추천</a></li>
            </ul>
        </li>
        <li>
            <a href="http://localhost:8080/jeindex">제주유나이티드</a>
            <ul>
                <li><a href="http://localhost:8080/jefood">맛집</a></li>
                <li><a href="http://localhost:8080/jetour">관광지</a></li>
                <li><a href="http://localhost:8080/jehome">숙소</a></li>
                <li><a href="http://localhost:8080/jecourse">코스추천</a></li>
            </ul>
        </li>
    </ul>
</aside>
<div class="site-box">
    <div class="container">
        <!-- < 여기에 사이트 내용을 추가할 수 있습니다.> -->
        <h1>김천 추천 맛집</h1>
        <button class="button">* 현 위치</button>
    </div>
</div>

<b><p th:align="center">가족들 및 지인들과 함께하기 좋은 식당으로 너무 가볍지도 않으며 든든한 한끼를 할 수 있는 식당들</p></b>

<b><p th:align="center">혼자 여행온 사람들을 위한 식당으로 너무 과하지도 않으며 시끄럽지 않은 분위기로 부담없이 맛있는 식사를 즐길 수 있는 식당들 입니다.</p></b>

<table th:align="right">
    <thead>
    <tr>
        <th>상호명</th>
        <th>이미지</th>
        <th>카테고리</th>
        <th>별점</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="sRestaurants : ${sRestaurants}">
        <td th:text="${sRestaurants.name}"></td>
        <td><img th:src="${sRestaurants.imageUrl}" width="100px" height="100px"></td>
        <td th:text="${sRestaurants.category}"></td>
        <td th:text="${sRestaurants.rating}"></td>
    </tr>
    </tbody>
</table>

<div id="map" style="width:800px;height:800px;"></div>
<script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=f5b93b38400f8a439279bddc0851658c"></script>
<script>
    var container = document.getElementById('map');
    var options = {
        center: new kakao.maps.LatLng( 37.297749, 127.0113456),
        level: 4
    };

    var map = new kakao.maps.Map(container, options);

    // 마커를 표시할 위치와 내용을 가지고 있는 객체 배열입니다
    var positions = [
        {
            content: '<div>유치회관</div>',
            latlng: new kakao.maps.LatLng(37.25880338373601 , 127.03210115432739)
        },
        {
            content: '<div>연밀 수원</div>',
            latlng: new kakao.maps.LatLng(37.28131782764072, 127.01738655567169)
        },
        {
            content: '<div>정돈 광교</div>',
            latlng: new kakao.maps.LatLng(37.28517414874996, 127.05687940120697)
        },
        {
            content: '<div>평장원 남문점</div>',
            latlng: new kakao.maps.LatLng(37.2745968 , 127.0190287)
        },
        {
            content: '<div>난 인계동</div>',
            latlng: new kakao.maps.LatLng(37.2643452 , 127.0350581)
        },
        {
            content: '<div>가보정 수원</div>',
            latlng: new kakao.maps.LatLng(37.2741957 , 127.0287047)
        },
        {
            content: '<div>용성통닭 수원</div>',
            latlng: new kakao.maps.LatLng(37.27958060459911, 127.017622590065)
        }

    ];

    for (var i = 0; i < positions.length; i ++) {
        // 마커를 생성합니다
        var marker = new kakao.maps.Marker({
            map: map, // 마커를 표시할 지도
            position: positions[i].latlng // 마커의 위치
        });

        // 마커에 표시할 인포윈도우를 생성합니다
        var infowindow = new kakao.maps.InfoWindow({
            content: positions[i].content // 인포윈도우에 표시할 내용
        });

        // 마커에 mouseover 이벤트와 mouseout 이벤트를 등록합니다
        // 이벤트 리스너로는 클로저를 만들어 등록합니다
        // for문에서 클로저를 만들어 주지 않으면 마지막 마커에만 이벤트가 등록됩니다
        kakao.maps.event.addListener(marker, 'mouseover', makeOverListener(map, marker, infowindow));
        kakao.maps.event.addListener(marker, 'mouseout', makeOutListener(infowindow));
    }

    // 인포윈도우를 표시하는 클로저를 만드는 함수입니다
    function makeOverListener(map, marker, infowindow) {
        return function() {
            infowindow.open(map, marker);
        };
    }

    // 인포윈도우를 닫는 클로저를 만드는 함수입니다
    function makeOutListener(infowindow) {
        return function() {
            infowindow.close();
        };
    }
</script>
</body>
</html>