<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>축구 여행 가이드</title>
    <link rel="stylesheet" href="/assets/css/topmenu.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
    <link rel="stylesheet" href="/assets/css/sidemenu.css">
    <link rel="stylesheet" href="/assets/css/box2.css">
    <style>
        body{
            background-image: url(/assets/img/background4.jpg);
            background-size: contain;
        }
    </style>
</head>
<body>
<header class="top-bar con-min-width">
    <h1><span style="color:black">Soccer Tour Guide</span></h1>
    <div class="con">
        <nav class="top-bar__menu-box-1">
            <ul>
                <li>
                    <a href="http://localhost:8080/ufood">맛집</a>
                </li>
                <li>
                    <a href="http://localhost:8080/utour">관광지</a>
                </li>
                <li>
                    <a href="http://localhost:8080/uhome">숙소</a>
                </li>
                <li>
                    <a href="http://localhost:8080/ucourse">코스추천</a>
                </li>
            </ul>
        </nav>
    </div>
</header>

<aside class="side-bar">
    <ul>
        <li>
            <a href="http://localhost:8080/Page">fc서울</a>
            <ul>
                <li><a href="http://localhost:8080/food">맛집</a></li>
                <li><a href="http://localhost:8080/SeoulTour">관광지</a></li>
                <li><a href="http://localhost:8080/SeoulHome">숙소</a></li>
                <li><a href="http://localhost:8080/SeoulCourse">코스추천</a></li>
            </ul>
        </li>
        <li>
            <a href="http://localhost:8080/kindex">김천상무</a>
            <ul>
                <li><a href="http://localhost:8080/kfood">맛집</a></li>
                <li><a href="http://localhost:8080/ktour">관광지</a></li>
                <li><a href="http://localhost:8080/khome">숙소</a></li>
                <li><a href="http://localhost:8080/kcourse">코스추천</a></li>
            </ul>
        </li>
        <li>
            <a href="http://localhost:8080/sindex">수원fc</a>
            <ul>
                <li><a href="http://localhost:8080/sfood">맛집</a></li>
                <li><a href="http://localhost:8080/stour">관광지</a></li>
                <li><a href="http://localhost:8080/shome">숙소</a></li>
                <li><a href="http://localhost:8080/scourse">코스추천</a></li>
            </ul>
        </li>
        <li>
            <a href="http://localhost:8080/iindex">인천유나이티드</a>
            <ul>
                <li><a href="http://localhost:8080/ifood">맛집</a></li>
                <li><a href="http://localhost:8080/itour">관광지</a></li>
                <li><a href="http://localhost:8080/ihome">숙소</a></li>
                <li><a href="http://localhost:8080/icourse">코스추천</a></li>
            </ul>
        </li>
        <li>
            <a href="http://localhost:8080/gindex">강원fc</a>
            <ul>
                <li><a href="http://localhost:8080/gfood">맛집</a></li>
                <li><a href="http://localhost:8080/gtour">관광지</a></li>
                <li><a href="http://localhost:8080/ghome">숙소</a></li>
                <li><a href="http://localhost:8080/gcourse">코스추천</a></li>
            </ul>
        </li>
        <li>
            <a href="http://localhost:8080/dindex">대전하나시티즌</a>
            <ul>
                <li><a href="http://localhost:8080/dfood">맛집</a></li>
                <li><a href="http://localhost:8080/dtour">관광지</a></li>
                <li><a href="http://localhost:8080/dhome">숙소</a></li>
                <li><a href="http://localhost:8080/dcourse">코스추천</a></li>
            </ul>
        </li>
        <li>
            <a href="http://localhost:8080/jindex">전북현대</a>
            <ul>
                <li><a href="http://localhost:8080/jfood">맛집</a></li>
                <li><a href="http://localhost:8080/jtour">관광지</a></li>
                <li><a href="http://localhost:8080/jhome">숙소</a></li>
                <li><a href="http://localhost:8080/jcourse">코스추천</a></li>
            </ul>
        </li>
        <li>
            <a href="http://localhost:8080/gjindex">광주fc</a>
            <ul>
                <li><a href="http://localhost:8080/gjfood">맛집</a></li>
                <li><a href="http://localhost:8080/gjtour">관광지</a></li>
                <li><a href="http://localhost:8080/gjhome">숙소</a></li>
                <li><a href="http://localhost:8080/gjcourse">코스추천</a></li>
            </ul>
        </li>
        <li>
            <a href="http://localhost:8080/dgindex">대구fc</a>
            <ul>
                <li><a href="http://localhost:8080/dgfood">맛집</a></li>
                <li><a href="http://localhost:8080/dgtour">관광지</a></li>
                <li><a href="http://localhost:8080/dghome">숙소</a></li>
                <li><a href="http://localhost:8080/dgcourse">코스추천</a></li>
            </ul>
        </li>
        <li>
            <a href="http://localhost:8080/pindex">포항스틸러스</a>
            <ul>
                <li><a href="http://localhost:8080/pfood">맛집</a></li>
                <li><a href="http://localhost:8080/ptour">관광지</a></li>
                <li><a href="http://localhost:8080/phome">숙소</a></li>
                <li><a href="http://localhost:8080/pcourse">코스추천</a></li>
            </ul>
        </li>
        <li>
            <a href="http://localhost:8080/uindex">울산현대</a>
            <ul>
                <li><a href="http://localhost:8080/ufood">맛집</a></li>
                <li><a href="http://localhost:8080/utour">관광지</a></li>
                <li><a href="http://localhost:8080/uhome">숙소</a></li>
                <li><a href="http://localhost:8080/ucourse">코스추천</a></li>
            </ul>
        </li>
        <li>
            <a href="http://localhost:8080/jeindex">제주유나이티드</a>
            <ul>
                <li><a href="http://localhost:8080/jefood">맛집</a></li>
                <li><a href="http://localhost:8080/jetour">관광지</a></li>
                <li><a href="http://localhost:8080/jehome">숙소</a></li>
                <li><a href="http://localhost:8080/jecourse">코스추천</a></li>
            </ul>
        </li>
    </ul>
</aside>
</body>
</html>
<body>
<div class="container">
    <div class="box box-1"><img src="/assets/img/hotel31.jpg"></div>
    <div class="box box-2">
        <span class="box-content">
            <p><b>신라스테이 울산</b></p>
            <p><b>* * *</b></p>
            <p><b>울산 남구 삼산로 200 신라스테이</b></p>
            <p><b>울산 박물관과 대공원에서 차로 약 12분이면 갈 수 있습니다. 태화강 대공원과 현대자동차 공장도</b></p>
            <p><b>차로 약 15분 거리 이내에 있습니다. 호텔에는 미팅룸, 비즈니스 코너, 피트니스 센터 등 다양한</b></p>
            <p><b>시설이 마련되어 있습니다.</b></p>
            <p><b>Wifi 무료</b></p>
        </span>
    </div>
    <div class="box box-3"><b><p>96,000원</p></b></div>
</div>

<div class="container">
    <div class="box box-1"><img src="/assets/img/hotel32.jpg"></div>
    <div class="box box-2">
        <span class="box-content">
            <p>스타즈 호텔 울산점</b></p>
            <p><b>* * *</b></p>
            <p><b>울산 남구 남중로 65</b></p>
             <p><b>스타즈 호텔 울산점은 울산고속버스터미널에서 걸어서 20분, KTX울산역에서 차로 30분, 동해선 태</b></p>
             <p><b>화강역에서 차로 5분 거리에 있습니다. 주변 관광지로는 울산박물관까지 차로 약 20분 정도 소요됩</b></p>
             <p><b>니다. 호텔 내에는 비즈니스 라운지, 피트니스 센터 등의 부대시설이 마련되어 있습니다.</b></p>
            <p><b>Wifi 무료</b></p>
        </span>
    </div>
    <div class="box box-3"><b><p>54,007원</p></b></div>
</div>

<div class="container">
    <div class="box box-1"><img src="/assets/img/hotel33.jpg"></div>
    <div class="box box-2">
        <span class="box-content">
            <p><b>호텔현대 바이 라한 울산</b></p>
            <p><b>* * * *</b></p>
            <p><b>울산 동구 방어진순환도로 875 호텔현대 바이 라한 울산</b></p>
            <p><b>태화강역에서 차로 약 20분, KTX 울산역에서 차로 약 50분 거리에 있습니다. 주변 관광지로는 울산</b></p>
            <p><b>해수욕장이 차로 약 10분, 장생포고래문화마을은 차로 약 20분이면 갈 수 있습니다. 호텔에는 키즈</b></p>
            <p><b>풀이 포함된 수영장과 사우나, 피트니스센터, 비즈니스센터 등 다양한 시설이 마련되어 있습니다.</b></p>
            <p><b>Wifi 무료</b></p>
        </span>
    </div>
    <div class="box box-3"><b><p>108,779원</p></b></div>
</div>
</body>