<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>축구 여행 가이드</title>
    <link rel="stylesheet" href="/assets/css/topmenu.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
    <link rel="stylesheet" href="/assets/css/sidemenu.css">
    <link rel="stylesheet" href="/assets/css/box.css">
    <style>
        body{
            background-image: url(/assets/img/background4.jpg);
            background-size: contain;
        }
    </style>
</head>
<body>
<header class="top-bar con-min-width">
    <h1><span style="color:black">Soccer Tour Guide</span></h1>
    <div class="con">
        <nav class="top-bar__menu-box-1">
            <ul>
                <li>
                    <a href="http://localhost:8080/pfood">맛집</a>
                </li>
                <li>
                    <a href="http://localhost:8080/ptour">관광지</a>
                </li>
                <li>
                    <a href="http://localhost:8080/phome">숙소</a>
                </li>
                <li>
                    <a href="http://localhost:8080/pcourse">코스추천</a>
                </li>
            </ul>
        </nav>
    </div>
</header>

<aside class="side-bar">
    <ul>
        <li>
            <a href="http://localhost:8080/Page">fc서울</a>
            <ul>
                <li><a href="http://localhost:8080/food">맛집</a></li>
                <li><a href="http://localhost:8080/SeoulTour">관광지</a></li>
                <li><a href="http://localhost:8080/SeoulHome">숙소</a></li>
                <li><a href="http://localhost:8080/SeoulCourse">코스추천</a></li>
            </ul>
        </li>
        <li>
            <a href="http://localhost:8080/kindex">김천상무</a>
            <ul>
                <li><a href="http://localhost:8080/kfood">맛집</a></li>
                <li><a href="http://localhost:8080/ktour">관광지</a></li>
                <li><a href="http://localhost:8080/khome">숙소</a></li>
                <li><a href="http://localhost:8080/kcourse">코스추천</a></li>
            </ul>
        </li>
        <li>
            <a href="http://localhost:8080/sindex">수원fc</a>
            <ul>
                <li><a href="http://localhost:8080/sfood">맛집</a></li>
                <li><a href="http://localhost:8080/stour">관광지</a></li>
                <li><a href="http://localhost:8080/shome">숙소</a></li>
                <li><a href="http://localhost:8080/scourse">코스추천</a></li>
            </ul>
        </li>
        <li>
            <a href="http://localhost:8080/iindex">인천유나이티드</a>
            <ul>
                <li><a href="http://localhost:8080/ifood">맛집</a></li>
                <li><a href="http://localhost:8080/itour">관광지</a></li>
                <li><a href="http://localhost:8080/ihome">숙소</a></li>
                <li><a href="http://localhost:8080/icourse">코스추천</a></li>
            </ul>
        </li>
        <li>
            <a href="http://localhost:8080/gindex">강원fc</a>
            <ul>
                <li><a href="http://localhost:8080/gfood">맛집</a></li>
                <li><a href="http://localhost:8080/gtour">관광지</a></li>
                <li><a href="http://localhost:8080/ghome">숙소</a></li>
                <li><a href="http://localhost:8080/gcourse">코스추천</a></li>
            </ul>
        </li>
        <li>
            <a href="http://localhost:8080/dindex">대전하나시티즌</a>
            <ul>
                <li><a href="http://localhost:8080/dfood">맛집</a></li>
                <li><a href="http://localhost:8080/dtour">관광지</a></li>
                <li><a href="http://localhost:8080/dhome">숙소</a></li>
                <li><a href="http://localhost:8080/dcourse">코스추천</a></li>
            </ul>
        </li>
        <li>
            <a href="http://localhost:8080/jindex">전북현대</a>
            <ul>
                <li><a href="http://localhost:8080/jfood">맛집</a></li>
                <li><a href="http://localhost:8080/jtour">관광지</a></li>
                <li><a href="http://localhost:8080/jhome">숙소</a></li>
                <li><a href="http://localhost:8080/jcourse">코스추천</a></li>
            </ul>
        </li>
        <li>
            <a href="http://localhost:8080/gjindex">광주fc</a>
            <ul>
                <li><a href="http://localhost:8080/gjfood">맛집</a></li>
                <li><a href="http://localhost:8080/gjtour">관광지</a></li>
                <li><a href="http://localhost:8080/gjhome">숙소</a></li>
                <li><a href="http://localhost:8080/gjcourse">코스추천</a></li>
            </ul>
        </li>
        <li>
            <a href="http://localhost:8080/dgindex">대구fc</a>
            <ul>
                <li><a href="http://localhost:8080/dgfood">맛집</a></li>
                <li><a href="http://localhost:8080/dgtour">관광지</a></li>
                <li><a href="http://localhost:8080/dghome">숙소</a></li>
                <li><a href="http://localhost:8080/dgcourse">코스추천</a></li>
            </ul>
        </li>
        <li>
            <a href="http://localhost:8080/pindex">포항스틸러스</a>
            <ul>
                <li><a href="http://localhost:8080/pfood">맛집</a></li>
                <li><a href="http://localhost:8080/ptour">관광지</a></li>
                <li><a href="http://localhost:8080/phome">숙소</a></li>
                <li><a href="http://localhost:8080/pcourse">코스추천</a></li>
            </ul>
        </li>
        <li>
            <a href="#">울산현대</a>
            <ul>
                <li><a href="#">맛집</a></li>
                <li><a href="#">관광지</a></li>
                <li><a href="#">숙소</a></li>
                <li><a href="#">코스추천</a></li>
            </ul>
        </li>
        <li>
            <a href="#">제주유나이티드</a>
            <ul>
                <li><a href="#">맛집</a></li>
                <li><a href="#">관광지</a></li>
                <li><a href="#">숙소</a></li>
                <li><a href="#">코스추천</a></li>
            </ul>
        </li>
    </ul>
</aside>
</body>
</html>
<main class="contents">
    <section id="headling">
        <div class="detail" style="margin: 0 auto; text-align: center;">
            <img src="/assets/img/울산문수축구경기장.jpg" style="display: block; margin: 80px auto 80px auto; width:900px; height:300px; margin-left: auto; margin-right: auto">
            <div class = "box">
                <p>울산 HD FC는 1983년에 창단된 울산광역시를 연고로 하는 K리그1 소속의 프로 축구단으로 홈구장은 울산문수축구경기장이다. 창단 당시 명칭은 울산 현대</p>
                <p>FC 였으며, 모기업인 현대중공업그룹이 2023년에 HD 브랜드를 도입하면서 구단 명칭 역시 현재의 명칭으로 바뀌었다. AFC 챔피언스 리그 2회 우승(2012,</p>
                <p>2020)과 아시아 유일의 ACL 2회 무패 우승, K리그1 4회 우승(1996, 2005, 2022, 2023)과 10회 최다 준우승(1988, 1991, 1998, 2002, 2003, 2011, 2013, 20</p>
                <p>19, 2020, 2021), 코리아컵 1회 우승(2017) 타이틀을 가지고 있다. 또한 4년제로 개편된 FIFA 클럽 월드컵에 K리그 구단 최초로 참가를 확정지은 구단 이기도</p>
                <p>하다. 현재 울산현대 감독은 전 축구선수 홍명보 감독이 맡고 있으며 주장은 김기희 선수가 맡고 있습니다.</p>
            </div>
        </div>

    </section>
</main>